@model thesis.Models.MTVApplication

<link rel="stylesheet" href="~/css/mtvDashboard.css" asp-append-version="true" />

<section id="content">
	<main>
		<div class="head-title">
			<form asp-action="Create">
				<div class="left">

					<h1>MTV APPLICATION</h1>


					<div class="container1">
						<div class="centercont1">
							<label class="center1">Personal Information</label>
						</div>

						<svg viewBox="0 0 1024 1024" class="persoinfoicon">
							<path d="M512 598q108 0 225 47t117 123v86h-684v-86q0-76 117-123t225-47zM512 512q-70 0-120-50t-50-120 50-121 120-51 120 51 50 121-50 120-120 50z"></path>
						</svg>
						<label>Registered Owner</label>

						<div class="persoinfo">
							@*asp-for="Input.lastName" autocomplete="lastname" aria-required="true"*@
							<input type="text" asp-for="OwnerLname" autocomplete="lastname" aria-required="true" placeholder="Last Name" class="textinput1" />
							<input type="text" asp-for="OwnerFname" autocomplete="firstname" aria-required="true" placeholder="First Name" class="textinput2" />
							<input type="text" asp-for="OwnerMname" autocomplete="middlename" aria-required="true" placeholder="Middle Name" class="textinput2" />
						</div>
						<svg viewBox="0 0 1024 1024" class="addressicon">
							<path d="M512 490q44 0 75-31t31-75-31-75-75-31-75 31-31 75 31 75 75 31zM512 86q124 0 211 87t87 211q0 62-31 142t-75 150-87 131-73 97l-32 34q-12-14-32-37t-72-92-91-134-71-147-32-144q0-124 87-211t211-87z"></path>
						</svg>
						<label>Address</label>
						<div class="persoinfo1">
							<select class="selecting1">
								<option value="Option 1">Region</option>
								<option value="Option 2">Option 2</option>
								<option value="Option 3">Option 3</option>
							</select>
							<select class="selecting1">
								<option value="Option 1">Province</option>
								<option value="Option 2">Option 2</option>
								<option value="Option 3">Option 3</option>
							</select>
							<select class="selecting1">
								<option value="Option 1">City/Municipality</option>
								<option value="Option 2">Option 2</option>
								<option value="Option 3">Option 3</option>
							</select>
							<select class="selecting1">
								<option value="Option 1">Barangay</option>
								<option value="Option 2">Option 2</option>
								<option value="Option 3">Option 3</option>
							</select>
						</div>
						<div class="persoinfo">
							<input type="text" placeholder="House No/Street" class="textinput1" />
							<input type="text" placeholder="Postal Code" class="textinput2" />
						</div>
						<div class="persoinfo2">
							<svg viewBox="0 0 1024 1024" class="emailicon">
								<path d="M928 128h-832c-52.8 0-96 43.2-96 96v640c0 52.8 43.2 96 96 96h832c52.8 0 96-43.2 96-96v-640c0-52.8-43.2-96-96-96zM398.74 550.372l-270.74 210.892v-501.642l270.74 290.75zM176.38 256h671.24l-335.62 252-335.62-252zM409.288 561.698l102.712 110.302 102.71-110.302 210.554 270.302h-626.528l210.552-270.302zM625.26 550.372l270.74-290.75v501.642l-270.74-210.892z"></path>
							</svg>
							<label>E-mail</label>
							<svg viewBox="0 0 1024 1024" class="teleicon">
								<path d="M981.333 721.92c0.683-30.464-10.069-59.904-28.715-82.901-19.627-24.149-48.171-41.259-82.133-46.080-34.133-4.181-72.32-13.397-110.336-27.563-18.475-6.784-38.101-9.301-57.344-7.424-28.288 2.731-55.765 14.891-77.611 36.48l-30.72 30.72c-75.52-47.659-143.36-113.792-195.541-195.797l30.976-30.976c13.739-14.080 24.021-30.976 30.165-49.323 9.045-26.965 9.131-57.003-1.664-85.803-12.331-32.128-22.101-70.144-27.477-110.72-4.437-30.507-19.413-57.472-41.088-77.013-22.997-20.693-53.589-33.195-86.485-32.853h-127.829c-3.755 0-7.765 0.171-11.648 0.512-35.157 3.2-65.792 20.395-86.741 45.483s-32.341 58.325-29.141 93.824c12.8 131.243 58.24 266.368 137.216 388.352 64.085 102.955 155.648 197.248 268.715 269.056 109.568 72.405 242.517 122.112 387.669 137.856 3.925 0.384 8.149 0.555 12.288 0.555 35.328-0.128 67.328-14.635 90.368-37.845s37.248-55.339 37.12-90.496zM896 721.92v128c0.043 11.947-4.651 22.613-12.373 30.379s-18.304 12.587-30.123 12.629l-3.755-0.171c-130.56-14.208-250.581-59.221-348.757-124.117-103.595-65.835-185.984-150.955-243.285-242.944-72.405-111.787-113.28-233.856-124.757-351.488-1.024-11.435 2.731-22.443 9.771-30.891s17.195-14.080 28.928-15.147l131.712-0.171c11.563-0.128 21.632 4.011 29.312 10.923 7.253 6.571 12.288 15.616 13.781 25.941 6.059 45.739 17.408 90.325 32.299 129.067 3.456 9.216 3.413 19.072 0.427 28.075-2.091 6.187-5.589 11.989-10.325 16.853l-53.845 53.803c-13.824 13.824-16.171 34.731-6.912 51.243 67.584 118.827 163.797 211.499 272.256 272.128 16.939 9.472 37.632 6.144 50.987-7.083l54.187-54.187c7.083-6.997 16.085-10.965 25.515-11.904 6.485-0.64 13.227 0.213 19.584 2.56 43.605 16.256 88.32 27.136 129.451 32.171 10.283 1.451 19.712 7.083 26.24 15.147 6.272 7.723 9.856 17.579 9.643 29.099z"></path>
							</svg>
							<label>Telephone No.</label>

							<svg viewBox="0 0 1024 1024" class="faxicon">
								<path d="M164.571 219.429c50.286 0 91.429 41.143 91.429 91.429v621.714c0 50.286-41.143 91.429-91.429 91.429h-73.143c-50.286 0-91.429-41.143-91.429-91.429v-621.714c0-50.286 41.143-91.429 91.429-91.429h73.143zM950.857 312.571c43.429 25.143 73.143 72.571 73.143 126.286v438.857c0 80.571-65.714 146.286-146.286 146.286h-493.714c-50.286 0-91.429-41.143-91.429-91.429v-877.714c0-30.286 24.571-54.857 54.857-54.857h384c30.286 0 72.571 17.714 93.714 38.857l86.857 86.857c21.143 21.143 38.857 63.429 38.857 93.714v93.143zM530.286 877.714v-73.143c0-10.286-8-18.286-18.286-18.286h-73.143c-10.286 0-18.286 8-18.286 18.286v73.143c0 10.286 8 18.286 18.286 18.286h73.143c10.286 0 18.286-8 18.286-18.286zM530.286 731.429v-73.143c0-10.286-8-18.286-18.286-18.286h-73.143c-10.286 0-18.286 8-18.286 18.286v73.143c0 10.286 8 18.286 18.286 18.286h73.143c10.286 0 18.286-8 18.286-18.286zM530.286 585.143v-73.143c0-10.286-8-18.286-18.286-18.286h-73.143c-10.286 0-18.286 8-18.286 18.286v73.143c0 10.286 8 18.286 18.286 18.286h73.143c10.286 0 18.286-8 18.286-18.286zM676.571 877.714v-73.143c0-10.286-8-18.286-18.286-18.286h-73.143c-10.286 0-18.286 8-18.286 18.286v73.143c0 10.286 8 18.286 18.286 18.286h73.143c10.286 0 18.286-8 18.286-18.286zM676.571 731.429v-73.143c0-10.286-8-18.286-18.286-18.286h-73.143c-10.286 0-18.286 8-18.286 18.286v73.143c0 10.286 8 18.286 18.286 18.286h73.143c10.286 0 18.286-8 18.286-18.286zM676.571 585.143v-73.143c0-10.286-8-18.286-18.286-18.286h-73.143c-10.286 0-18.286 8-18.286 18.286v73.143c0 10.286 8 18.286 18.286 18.286h73.143c10.286 0 18.286-8 18.286-18.286zM822.857 877.714v-73.143c0-10.286-8-18.286-18.286-18.286h-73.143c-10.286 0-18.286 8-18.286 18.286v73.143c0 10.286 8 18.286 18.286 18.286h73.143c10.286 0 18.286-8 18.286-18.286zM822.857 731.429v-73.143c0-10.286-8-18.286-18.286-18.286h-73.143c-10.286 0-18.286 8-18.286 18.286v73.143c0 10.286 8 18.286 18.286 18.286h73.143c10.286 0 18.286-8 18.286-18.286zM822.857 585.143v-73.143c0-10.286-8-18.286-18.286-18.286h-73.143c-10.286 0-18.286 8-18.286 18.286v73.143c0 10.286 8 18.286 18.286 18.286h73.143c10.286 0 18.286-8 18.286-18.286zM877.714 365.714v-146.286h-91.429c-30.286 0-54.857-24.571-54.857-54.857v-91.429h-365.714v292.571h512z"></path>
							</svg>
							<label>Fax Number</label>
						</div>
						<div class="persoinfo">
							<input type="text" asp-for="Email" autocomplete="email" aria-required="true" placeholder="Email" class="textinput1" />
							<input type="number" asp-for="TelNo" autocomplete="telNo" aria-required="true" placeholder="Telephone No" class="textinput2" />
							<input type="text" asp-for="FaxNo" autocomplete="faxno" aria-required="true" placeholder="Fax Number" class="textinput2" />
						</div>
					</div>

					<div class="container1">
						<div class="centercont1">
							<label class="center1">Vehicle Information</label>
						</div>

						<div class="persoinfo2">

							<svg viewBox="0 0 1024 1024" class="makeicon">
								<path d="M1024 576l-128-256h-192v-128c0-35.2-28.8-64-64-64h-576c-35.2 0-64 28.8-64 64v512l64 64h81.166c-10.898 18.832-17.166 40.678-17.166 64 0 70.692 57.308 128 128 128s128-57.308 128-128c0-23.322-6.268-45.168-17.166-64h354.334c-10.898 18.832-17.168 40.678-17.168 64 0 70.692 57.308 128 128 128s128-57.308 128-128c0-23.322-6.27-45.168-17.168-64h81.168v-192zM704 576v-192h132.668l96 192h-228.668z"></path>
							</svg>
							<label>Vehicle Maker</label>

							<svg viewBox="0 0 1024 1024" class="pnumber">
								<path d="M128 128c-35.328 0-67.413 14.379-90.496 37.504s-37.504 55.168-37.504 90.496v512c0 35.328 14.379 67.413 37.504 90.496s55.168 37.504 90.496 37.504h768c35.328 0 67.413-14.379 90.496-37.504s37.504-55.168 37.504-90.496v-512c0-35.328-14.379-67.413-37.504-90.496s-55.168-37.504-90.496-37.504zM938.667 384h-853.333v-128c0-11.776 4.736-22.4 12.501-30.165s18.389-12.501 30.165-12.501h768c11.776 0 22.4 4.736 30.165 12.501s12.501 18.389 12.501 30.165zM85.333 469.333h853.333v298.667c0 11.776-4.736 22.4-12.501 30.165s-18.389 12.501-30.165 12.501h-768c-11.776 0-22.4-4.736-30.165-12.501s-12.501-18.389-12.501-30.165z"></path>
							</svg>
							<label>Plate Number</label>

							<svg viewBox="0 0 1024 1024" class="enumber">
								<path d="M384 682.667c0 23.564-19.103 42.667-42.667 42.667s-42.667-19.103-42.667-42.667c0-23.564 19.103-42.667 42.667-42.667 23.564 0 42.667 19.103 42.667 42.667z"></path>
								<path d="M884.608 198.699c-16.725-16.128-43.221-16.085-59.691 0.384 16.512-16.469 16.555-43.008 0.427-59.733-45.995-33.792-102.613-54.016-164.011-54.016-153.173 0-277.333 124.16-277.333 277.333 0 5.504 0.981 10.752 1.323 16.171-14.379 10.197-123.435 91.605-181.675 140.843-48.427 42.24-75.648 101.333-75.648 162.987 0 117.632 95.701 213.333 213.333 213.333 62.507 0 121.771-27.733 162.603-76.117 50.048-58.667 131.413-167.381 141.525-180.437 5.12-0.427 10.368 0.555 15.872 0.555 153.173 0 277.333-124.16 277.333-277.333 0-61.44-20.224-118.016-54.059-163.968zM341.333 810.667c-70.656 0-128-57.301-128-128 0-39.253 18.048-73.899 45.397-97.792 101.035-85.419 154.325-117.248 218.24-171.307-4.48-16.299-7.637-33.152-7.637-50.901 0-106.027 85.973-192 192-192 20.053 0 38.997 3.925 57.131 9.643l-121.131 118.357 21.333 106.667 106.667 21.333 119.68-116.949c4.907 16.896 8.32 34.432 8.32 52.949 0 106.027-85.973 192-192 192-17.749 0-34.603-3.157-50.901-7.68-54.059 63.915-85.888 117.248-171.691 217.813-23.509 27.819-58.155 45.867-97.408 45.867zM827.051 267.563l-115.413 112.853-56.704-11.349-11.221-56.064 116.309-113.621c27.776 16.768 50.773 40.064 67.029 68.181z"></path>
							</svg>

							<label>Engine Number</label>
						</div>
						<div class="persoinfo">
							<input type="text" asp-for="Vehicle.VehicleMaker" autocomplete="vehiclemaker" aria-required="true" placeholder="Vehicle Maker" class="textinput1" />
							<input type="number" asp-for="Vehicle.PlateNo" autocomplete="PlateNo" aria-required="true" placeholder="Plate Number" class="textinput2" />
							<input type="text" asp-for="Vehicle.EngineNo" autocomplete="engineno" aria-required="true" placeholder="Engine Number" class="textinput2" />
						</div>

						<div class="persoinfo2">

							<svg viewBox="0 0 877.7142857142857 1024" class="fileicon">
								<path d="M838.857 217.143c21.143 21.143 38.857 63.429 38.857 93.714v658.286c0 30.286-24.571 54.857-54.857 54.857h-768c-30.286 0-54.857-24.571-54.857-54.857v-914.286c0-30.286 24.571-54.857 54.857-54.857h512c30.286 0 72.571 17.714 93.714 38.857zM585.143 77.714v214.857h214.857c-3.429-9.714-8.571-19.429-12.571-23.429l-178.857-178.857c-4-4-13.714-9.143-23.429-12.571zM804.571 950.857v-585.143h-237.714c-30.286 0-54.857-24.571-54.857-54.857v-237.714h-438.857v877.714h731.429zM731.429 694.857v182.857h-585.143v-109.714l109.714-109.714 73.143 73.143 219.429-219.429zM256 585.143c-60.571 0-109.714-49.143-109.714-109.714s49.143-109.714 109.714-109.714 109.714 49.143 109.714 109.714-49.143 109.714-109.714 109.714z"></path>
							</svg>
							<label>LTO Certificate of Registration</label>

							<svg viewBox="0 0 877.7142857142857 1024" class="fileicon1">
								<path d="M838.857 217.143c21.143 21.143 38.857 63.429 38.857 93.714v658.286c0 30.286-24.571 54.857-54.857 54.857h-768c-30.286 0-54.857-24.571-54.857-54.857v-914.286c0-30.286 24.571-54.857 54.857-54.857h512c30.286 0 72.571 17.714 93.714 38.857zM585.143 77.714v214.857h214.857c-3.429-9.714-8.571-19.429-12.571-23.429l-178.857-178.857c-4-4-13.714-9.143-23.429-12.571zM804.571 950.857v-585.143h-237.714c-30.286 0-54.857-24.571-54.857-54.857v-237.714h-438.857v877.714h731.429zM731.429 694.857v182.857h-585.143v-109.714l109.714-109.714 73.143 73.143 219.429-219.429zM256 585.143c-60.571 0-109.714-49.143-109.714-109.714s49.143-109.714 109.714-109.714 109.714 49.143 109.714 109.714-49.143 109.714-109.714 109.714z"></path>
							</svg>
							<label>LTO Official Receipt of Registration</label>


						</div>
						<div class="persoinfo">
							<input type="file" placeholder="LTO OR" class="textinput1" />
							<input type="file" placeholder="LTO CR" class="textinput4" />

						</div>

						<div class="persoinfo">

							<svg viewBox="0 0 1024 1024" class="makeicon">
								<path d="M1024 576l-128-256h-192v-128c0-35.2-28.8-64-64-64h-576c-35.2 0-64 28.8-64 64v512l64 64h81.166c-10.898 18.832-17.166 40.678-17.166 64 0 70.692 57.308 128 128 128s128-57.308 128-128c0-23.322-6.268-45.168-17.166-64h354.334c-10.898 18.832-17.168 40.678-17.168 64 0 70.692 57.308 128 128 128s128-57.308 128-128c0-23.322-6.27-45.168-17.168-64h81.168v-192zM704 576v-192h132.668l96 192h-228.668z"></path>
							</svg>
							<label>Accredited Meat Establishment to be served</label>

							<svg viewBox="0 0 1024 1024" class="pnumber">
								<path d="M128 128c-35.328 0-67.413 14.379-90.496 37.504s-37.504 55.168-37.504 90.496v512c0 35.328 14.379 67.413 37.504 90.496s55.168 37.504 90.496 37.504h768c35.328 0 67.413-14.379 90.496-37.504s37.504-55.168 37.504-90.496v-512c0-35.328-14.379-67.413-37.504-90.496s-55.168-37.504-90.496-37.504zM938.667 384h-853.333v-128c0-11.776 4.736-22.4 12.501-30.165s18.389-12.501 30.165-12.501h768c11.776 0 22.4 4.736 30.165 12.501s12.501 18.389 12.501 30.165zM85.333 469.333h853.333v298.667c0 11.776-4.736 22.4-12.501 30.165s-18.389 12.501-30.165 12.501h-768c-11.776 0-22.4-4.736-30.165-12.501s-12.501-18.389-12.501-30.165z"></path>
							</svg>
							<label>Destination (major markets to be served)</label>


						</div>
						<div class="persoinfo">
							<select asp-for="Vehicle.Est" class="textinput1">
								<option value="SLH">SLH</option>
								<option value="PDP">PDP</option>
								<option value="MCP">MCP</option>
								<option value="CSW">CSW</option>
							</select>
							<input type="text" placeholder="Destination" class="textinput3" />

						</div>

					</div>

					<div class="container1">
						<div class="centercont1">
							<label class="center1">Driver Information</label>
						</div>

						<svg viewBox="0 0 1024 1024" class="persoinfoicon">
							<path d="M512 598q108 0 225 47t117 123v86h-684v-86q0-76 117-123t225-47zM512 512q-70 0-120-50t-50-120 50-121 120-51 120 51 50 121-50 120-120 50z"></path>
						</svg>
						<label>Full Name</label>
						<div class="persoinfo">
							<input type="text" asp-for="Driver.DriverLname" autocomplete="lastname" aria-required="true" placeholder="Last Name" class="textinput1" />
							<input type="text" asp-for="Driver.DriverFname" autocomplete="firstname" aria-required="true" placeholder="First Name" class="textinput2" />
							<input type="text" asp-for="Driver.DriverMname" autocomplete="middlename" aria-required="true" placeholder="Middle Name" class="textinput2" />
						</div>

						<div class="persoinfo3">

							<svg viewBox="0 0 877.7142857142857 1024" class="fileicon">
								<path d="M838.857 217.143c21.143 21.143 38.857 63.429 38.857 93.714v658.286c0 30.286-24.571 54.857-54.857 54.857h-768c-30.286 0-54.857-24.571-54.857-54.857v-914.286c0-30.286 24.571-54.857 54.857-54.857h512c30.286 0 72.571 17.714 93.714 38.857zM585.143 77.714v214.857h214.857c-3.429-9.714-8.571-19.429-12.571-23.429l-178.857-178.857c-4-4-13.714-9.143-23.429-12.571zM804.571 950.857v-585.143h-237.714c-30.286 0-54.857-24.571-54.857-54.857v-237.714h-438.857v877.714h731.429zM731.429 694.857v182.857h-585.143v-109.714l109.714-109.714 73.143 73.143 219.429-219.429zM256 585.143c-60.571 0-109.714-49.143-109.714-109.714s49.143-109.714 109.714-109.714 109.714 49.143 109.714 109.714-49.143 109.714-109.714 109.714z"></path>
							</svg>
							<label>Driver's License Front</label>

							<svg viewBox="0 0 877.7142857142857 1024" class="fileicon1">
								<path d="M838.857 217.143c21.143 21.143 38.857 63.429 38.857 93.714v658.286c0 30.286-24.571 54.857-54.857 54.857h-768c-30.286 0-54.857-24.571-54.857-54.857v-914.286c0-30.286 24.571-54.857 54.857-54.857h512c30.286 0 72.571 17.714 93.714 38.857zM585.143 77.714v214.857h214.857c-3.429-9.714-8.571-19.429-12.571-23.429l-178.857-178.857c-4-4-13.714-9.143-23.429-12.571zM804.571 950.857v-585.143h-237.714c-30.286 0-54.857-24.571-54.857-54.857v-237.714h-438.857v877.714h731.429zM731.429 694.857v182.857h-585.143v-109.714l109.714-109.714 73.143 73.143 219.429-219.429zM256 585.143c-60.571 0-109.714-49.143-109.714-109.714s49.143-109.714 109.714-109.714 109.714 49.143 109.714 109.714-49.143 109.714-109.714 109.714z"></path>
							</svg>
							<label>Driver's License Back</label>


						</div>
						<div class="persoinfo">
							<input type="file" placeholder="" class="textinput1" />
							<input type="file" placeholder="Plate Number" class="textinput1" />

						</div>

						<svg viewBox="0 0 1024 1024" class="addressicon">
							<path d="M512 490q44 0 75-31t31-75-31-75-75-31-75 31-31 75 31 75 75 31zM512 86q124 0 211 87t87 211q0 62-31 142t-75 150-87 131-73 97l-32 34q-12-14-32-37t-72-92-91-134-71-147-32-144q0-124 87-211t211-87z"></path>
						</svg>
						<label>Address</label>
						<div class="persoinfo1">
							<select class="selecting1">
								<option value="Option 1">Region</option>
								<option value="Option 2">Option 2</option>
								<option value="Option 3">Option 3</option>
							</select>
							<select class="selecting1">
								<option value="Option 1">Province</option>
								<option value="Option 2">Option 2</option>
								<option value="Option 3">Option 3</option>
							</select>
							<select class="selecting1">
								<option value="Option 1">City/Municipality</option>
								<option value="Option 2">Option 2</option>
								<option value="Option 3">Option 3</option>
							</select>
							<select class="selecting1">
								<option value="Option 1">Barangay</option>
								<option value="Option 2">Option 2</option>
								<option value="Option 3">Option 3</option>
							</select>
						</div>

						<div class="persoinfo">
							<input type="text" placeholder="House No/Street" class="textinput1" />
							<input type="text" placeholder="Postal Code" class="textinput2" />
						</div>

						<div class="persoinfo2">
							<svg viewBox="0 0 1024 1024" class="emailicon">
								<path d="M928 128h-832c-52.8 0-96 43.2-96 96v640c0 52.8 43.2 96 96 96h832c52.8 0 96-43.2 96-96v-640c0-52.8-43.2-96-96-96zM398.74 550.372l-270.74 210.892v-501.642l270.74 290.75zM176.38 256h671.24l-335.62 252-335.62-252zM409.288 561.698l102.712 110.302 102.71-110.302 210.554 270.302h-626.528l210.552-270.302zM625.26 550.372l270.74-290.75v501.642l-270.74-210.892z"></path>
							</svg>
							<label>E-mail</label>
							<svg viewBox="0 0 1024 1024" class="teleicon">
								<path d="M981.333 721.92c0.683-30.464-10.069-59.904-28.715-82.901-19.627-24.149-48.171-41.259-82.133-46.080-34.133-4.181-72.32-13.397-110.336-27.563-18.475-6.784-38.101-9.301-57.344-7.424-28.288 2.731-55.765 14.891-77.611 36.48l-30.72 30.72c-75.52-47.659-143.36-113.792-195.541-195.797l30.976-30.976c13.739-14.080 24.021-30.976 30.165-49.323 9.045-26.965 9.131-57.003-1.664-85.803-12.331-32.128-22.101-70.144-27.477-110.72-4.437-30.507-19.413-57.472-41.088-77.013-22.997-20.693-53.589-33.195-86.485-32.853h-127.829c-3.755 0-7.765 0.171-11.648 0.512-35.157 3.2-65.792 20.395-86.741 45.483s-32.341 58.325-29.141 93.824c12.8 131.243 58.24 266.368 137.216 388.352 64.085 102.955 155.648 197.248 268.715 269.056 109.568 72.405 242.517 122.112 387.669 137.856 3.925 0.384 8.149 0.555 12.288 0.555 35.328-0.128 67.328-14.635 90.368-37.845s37.248-55.339 37.12-90.496zM896 721.92v128c0.043 11.947-4.651 22.613-12.373 30.379s-18.304 12.587-30.123 12.629l-3.755-0.171c-130.56-14.208-250.581-59.221-348.757-124.117-103.595-65.835-185.984-150.955-243.285-242.944-72.405-111.787-113.28-233.856-124.757-351.488-1.024-11.435 2.731-22.443 9.771-30.891s17.195-14.080 28.928-15.147l131.712-0.171c11.563-0.128 21.632 4.011 29.312 10.923 7.253 6.571 12.288 15.616 13.781 25.941 6.059 45.739 17.408 90.325 32.299 129.067 3.456 9.216 3.413 19.072 0.427 28.075-2.091 6.187-5.589 11.989-10.325 16.853l-53.845 53.803c-13.824 13.824-16.171 34.731-6.912 51.243 67.584 118.827 163.797 211.499 272.256 272.128 16.939 9.472 37.632 6.144 50.987-7.083l54.187-54.187c7.083-6.997 16.085-10.965 25.515-11.904 6.485-0.64 13.227 0.213 19.584 2.56 43.605 16.256 88.32 27.136 129.451 32.171 10.283 1.451 19.712 7.083 26.24 15.147 6.272 7.723 9.856 17.579 9.643 29.099z"></path>
							</svg>
							<label>Telephone No.</label>

						</div>
						<div class="persoinfo">
							<input type="text" asp-for="Driver.Email" autocomplete="email" aria-required="true" placeholder="Email" class="textinput1" />
							<input type="number" asp-for="Driver.TelNo" autocomplete="telno" aria-required="true" placeholder="Telephone No" class="textinput2" />

						</div>
					</div>

					<div class="container1">
						<div class="centercont1">
							<label class="center1">Helper Information</label>
						</div>

						<svg viewBox="0 0 1024 1024" class="persoinfoicon">
							<path d="M512 598q108 0 225 47t117 123v86h-684v-86q0-76 117-123t225-47zM512 512q-70 0-120-50t-50-120 50-121 120-51 120 51 50 121-50 120-120 50z"></path>
						</svg>
						<label>Full Name</label>
						<div class="persoinfo">
							<input type="text" asp-for="Helper.HelperLname" autocomplete="lastname" aria-required="true" placeholder="Last Name" class="textinput1" />
							<input type="text" asp-for="Helper.HelperFname" autocomplete="firstname" aria-required="true" placeholder="First Name" class="textinput2" />
							<input type="text" asp-for="Helper.HelperMname" autocomplete="middlename" aria-required="true" placeholder="Middle Name" class="textinput2" />
						</div>

						<!-- <div class="persoinfo3">

							<svg viewBox="0 0 877.7142857142857 1024" class="fileicon">
								<path d="M838.857 217.143c21.143 21.143 38.857 63.429 38.857 93.714v658.286c0 30.286-24.571 54.857-54.857 54.857h-768c-30.286 0-54.857-24.571-54.857-54.857v-914.286c0-30.286 24.571-54.857 54.857-54.857h512c30.286 0 72.571 17.714 93.714 38.857zM585.143 77.714v214.857h214.857c-3.429-9.714-8.571-19.429-12.571-23.429l-178.857-178.857c-4-4-13.714-9.143-23.429-12.571zM804.571 950.857v-585.143h-237.714c-30.286 0-54.857-24.571-54.857-54.857v-237.714h-438.857v877.714h731.429zM731.429 694.857v182.857h-585.143v-109.714l109.714-109.714 73.143 73.143 219.429-219.429zM256 585.143c-60.571 0-109.714-49.143-109.714-109.714s49.143-109.714 109.714-109.714 109.714 49.143 109.714 109.714-49.143 109.714-109.714 109.714z"></path>
							</svg>
							<label>Driver's License Front</label>

							<svg viewBox="0 0 877.7142857142857 1024" class="fileicon1">
								<path d="M838.857 217.143c21.143 21.143 38.857 63.429 38.857 93.714v658.286c0 30.286-24.571 54.857-54.857 54.857h-768c-30.286 0-54.857-24.571-54.857-54.857v-914.286c0-30.286 24.571-54.857 54.857-54.857h512c30.286 0 72.571 17.714 93.714 38.857zM585.143 77.714v214.857h214.857c-3.429-9.714-8.571-19.429-12.571-23.429l-178.857-178.857c-4-4-13.714-9.143-23.429-12.571zM804.571 950.857v-585.143h-237.714c-30.286 0-54.857-24.571-54.857-54.857v-237.714h-438.857v877.714h731.429zM731.429 694.857v182.857h-585.143v-109.714l109.714-109.714 73.143 73.143 219.429-219.429zM256 585.143c-60.571 0-109.714-49.143-109.714-109.714s49.143-109.714 109.714-109.714 109.714 49.143 109.714 109.714-49.143 109.714-109.714 109.714z"></path>
							</svg>
							<label>Driver's License Back</label>


						</div> -->
						<!-- <div class="persoinfo">
							<input type="file" placeholder="" class="textinput1"/>
							<input type="file" placeholder="Plate Number" class="textinput1"/>

						</div> -->

						<svg viewBox="0 0 1024 1024" class="addressicon">
							<path d="M512 490q44 0 75-31t31-75-31-75-75-31-75 31-31 75 31 75 75 31zM512 86q124 0 211 87t87 211q0 62-31 142t-75 150-87 131-73 97l-32 34q-12-14-32-37t-72-92-91-134-71-147-32-144q0-124 87-211t211-87z"></path>
						</svg>
						<label>Address</label>
						<div class="persoinfo1">
							<select class="selecting1">
								<option value="Option 1">Region</option>
								<option value="Option 2">Option 2</option>
								<option value="Option 3">Option 3</option>
							</select>
							<select class="selecting1">
								<option value="Option 1">Province</option>
								<option value="Option 2">Option 2</option>
								<option value="Option 3">Option 3</option>
							</select>
							<select class="selecting1">
								<option value="Option 1">City/Municipality</option>
								<option value="Option 2">Option 2</option>
								<option value="Option 3">Option 3</option>
							</select>
							<select class="selecting1">
								<option value="Option 1">Barangay</option>
								<option value="Option 2">Option 2</option>
								<option value="Option 3">Option 3</option>
							</select>
						</div>

						<div class="persoinfo">
							<input type="text" placeholder="House No/Street" class="textinput1" />
							<input type="text" placeholder="Postal Code" class="textinput2" />
						</div>

						<div class="persoinfo2">
							<svg viewBox="0 0 1024 1024" class="emailicon">
								<path d="M928 128h-832c-52.8 0-96 43.2-96 96v640c0 52.8 43.2 96 96 96h832c52.8 0 96-43.2 96-96v-640c0-52.8-43.2-96-96-96zM398.74 550.372l-270.74 210.892v-501.642l270.74 290.75zM176.38 256h671.24l-335.62 252-335.62-252zM409.288 561.698l102.712 110.302 102.71-110.302 210.554 270.302h-626.528l210.552-270.302zM625.26 550.372l270.74-290.75v501.642l-270.74-210.892z"></path>
							</svg>
							<label>E-mail</label>
							<svg viewBox="0 0 1024 1024" class="teleicon">
								<path d="M981.333 721.92c0.683-30.464-10.069-59.904-28.715-82.901-19.627-24.149-48.171-41.259-82.133-46.080-34.133-4.181-72.32-13.397-110.336-27.563-18.475-6.784-38.101-9.301-57.344-7.424-28.288 2.731-55.765 14.891-77.611 36.48l-30.72 30.72c-75.52-47.659-143.36-113.792-195.541-195.797l30.976-30.976c13.739-14.080 24.021-30.976 30.165-49.323 9.045-26.965 9.131-57.003-1.664-85.803-12.331-32.128-22.101-70.144-27.477-110.72-4.437-30.507-19.413-57.472-41.088-77.013-22.997-20.693-53.589-33.195-86.485-32.853h-127.829c-3.755 0-7.765 0.171-11.648 0.512-35.157 3.2-65.792 20.395-86.741 45.483s-32.341 58.325-29.141 93.824c12.8 131.243 58.24 266.368 137.216 388.352 64.085 102.955 155.648 197.248 268.715 269.056 109.568 72.405 242.517 122.112 387.669 137.856 3.925 0.384 8.149 0.555 12.288 0.555 35.328-0.128 67.328-14.635 90.368-37.845s37.248-55.339 37.12-90.496zM896 721.92v128c0.043 11.947-4.651 22.613-12.373 30.379s-18.304 12.587-30.123 12.629l-3.755-0.171c-130.56-14.208-250.581-59.221-348.757-124.117-103.595-65.835-185.984-150.955-243.285-242.944-72.405-111.787-113.28-233.856-124.757-351.488-1.024-11.435 2.731-22.443 9.771-30.891s17.195-14.080 28.928-15.147l131.712-0.171c11.563-0.128 21.632 4.011 29.312 10.923 7.253 6.571 12.288 15.616 13.781 25.941 6.059 45.739 17.408 90.325 32.299 129.067 3.456 9.216 3.413 19.072 0.427 28.075-2.091 6.187-5.589 11.989-10.325 16.853l-53.845 53.803c-13.824 13.824-16.171 34.731-6.912 51.243 67.584 118.827 163.797 211.499 272.256 272.128 16.939 9.472 37.632 6.144 50.987-7.083l54.187-54.187c7.083-6.997 16.085-10.965 25.515-11.904 6.485-0.64 13.227 0.213 19.584 2.56 43.605 16.256 88.32 27.136 129.451 32.171 10.283 1.451 19.712 7.083 26.24 15.147 6.272 7.723 9.856 17.579 9.643 29.099z"></path>
							</svg>
							<label>Telephone No.</label>

						</div>
						<div class="persoinfo">
							<input type="text" asp-for="Helper.Email" autocomplete="email" aria-required="true" placeholder="Email" class="textinput1" />
							<input type="number" asp-for="Helper.TelNo" autocomplete="telNo" aria-required="true" placeholder="Telephone No" class="textinput2" />

						</div>
					</div>

					<input type="submit" value="SUBMIT APPLICATION" class="button1" />
					
				</div>
			</form>
		</div>
	</main>
</section>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
