@* @model DomainLayer.Models.TotalNoFitForHumanConsumptions

<link href="~/css/inspectorSideNav.css" rel="stylesheet" />
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TotalNoFitForHumanConsumptions</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Species" class="control-label"></label>
                <select asp-for="Species" class="form-control"></select>
                <span asp-validation-for="Species" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoOfHeads" class="control-label"></label>
                <input asp-for="NoOfHeads" class="form-control" />
                <span asp-validation-for="NoOfHeads" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DressedWeight" class="control-label"></label>
                <input asp-for="DressedWeight" class="form-control" />
                <span asp-validation-for="DressedWeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostmortemId" class="control-label"></label>
                <select asp-for="PostmortemId" class="form-control" asp-items="ViewBag.PostmortemId"></select>
                <span asp-validation-for="PostmortemId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
} *@