<link rel="stylesheet" href="~/css/MTVuser.css" asp-append-version="true" />
<section id="content">
	<!-- MAIN STARTS-->
	<main>
		<div class="head-title">
			<div class="left">
				<h1>Dashboard</h1>
			</div>
		</div>


		<div class="container1">

			<div class="FirstLayer">

				<div class="applications">
					<div class="head">
						<h3>MTV Inspectors</h3>
						<i class='bx bx-search' id="search-icon"></i>
						<i class='bx bx-filter' id="filter-icon"></i>
						<i class='bx bx-refresh' id="refresh-icon"></i>
					</div>
					<table id="applications-table">
						<thead>
							<tr>
								<th>Inspector</th>
								<th>Date Applied</th>
								<th>Status</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<img src="img/adrianne.jpg">
									<p>Adrianne John M. Basuel</p>
								</td>
								<td>06-10-2023</td>
								<td><span class="status duty">On-Duty</span></td>
							</tr>
							<tr>
								<td>
									<img src="img/Jess.JPG">
									<p>Jess Arreza</p>
								</td>
								<td>06-13-2023</td>
								<td><span class="status offline">Offline</span></td>
							</tr>
							<tr>
								<td>
									<img src="img/gerico.jpg">
									<p>Gerico Alagon</p>
								</td>
								<td>06-14-2023</td>
								<td><span class="status duty">On-duty</span></td>
							</tr>
							<tr>
								<td>
									<img src="img/Karlo.jpg">
									<p>Karlo Badilles</p>
								</td>
								<td>06-21-2023</td>
								<td><span class="status leave">Leave</span></td>
							</tr>
							<tr>
								<td>
									<img src="img/Leanox.jpg">
									<p>Leanox Colis</p>
								</td>
								<td>06-23-2023</td>
								<td><span class="status offline">Offline</span></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<div class="FirstLayer">

				<div class="applications">
					<div class="head">
						<h3> MTV Applications</h3>
						<i class='bx bx-search' id="search-icon1"></i>
						<i class='bx bx-filter' id="filter-icon1"></i>
						<i class='bx bx-refresh' id="refresh-icon1"></i>
					</div>
					<table id="applications-table">
						<thead>
							<tr>
								<th>Applicant</th>
								<th>Date Applied</th>
								<th>Status</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<img src="img/adrianne.jpg">
									<p>Adrianne John M. Basuel</p>
								</td>
								<td>06-10-2023</td>
								<td><span class="status completed">Completed</span></td>
							</tr>
							<tr>
								<td>
									<img src="img/Jess.JPG">
									<p>Jess Arreza</p>
								</td>
								<td>06-13-2023</td>
								<td><span class="status pending">Pending</span></td>
							</tr>
							<tr>
								<td>
									<img src="img/gerico.jpg">
									<p>Gerico Alagon</p>
								</td>
								<td>06-14-2023</td>
								<td><span class="status process">Process</span></td>
							</tr>
							<tr>
								<td>
									<img src="img/Karlo.jpg">
									<p>Karlo Badilles</p>
								</td>
								<td>06-21-2023</td>
								<td><span class="status pending">Pending</span></td>
							</tr>
							<tr>
								<td>
									<img src="img/Leanox.jpg">
									<p>Leanox Colis</p>
								</td>
								<td>06-23-2023</td>
								<td><span class="status completed">Completed</span></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

		</div>

	</main>
	<!-- MAIN ENDS -->

</section>