@using thesis.Core.ViewModel;
@model AccountUserViewModel


<div class="container">
    <h1>Edit</h1>
    <h4>Users Details</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="firstName" class="control-label"></label>
                    <input asp-for="firstName" class="form-control" />
                    <span asp-validation-for="firstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="lastName" class="control-label"></label>
                    <input asp-for="lastName" class="form-control" />
                    <span asp-validation-for="lastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="middleName" class="control-label"></label>
                    <input asp-for="middleName" class="form-control" />
                    <span asp-validation-for="middleName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="contactNo" class="control-label"></label>
                    <input type="number" asp-for="contactNo" class="form-control" />
                    <span asp-validation-for="contactNo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="birthdate" class="control-label"></label>
                    <input type="date" asp-for="birthdate" class="form-control" />
                    <span asp-validation-for="birthdate" class="text-danger"></span>
                </div>
                @*->>>>>>Imagee*@
                <div class="form-group">
                        <div class="sex">
                            @Html.RadioButtonFor(Model => Model.sex, "Male", new { id = "check-male" })
                            <label for="check-male">Male</label>
                        </div>
                        <div class="sex">
                            @Html.RadioButtonFor(Model => Model.sex, "Female", new { id = "check-female" })
                            <label for="check-female">Female</label>
                        </div>
                </div>
                <input type="submit" value="Save" class="btn btn-primary" />
            </form>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>


</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

