<partial name="_Notifications" />

<div class="container">
    <h1>Edit Confirmation</h1>
    <p>Your account details have been successfully updated</p>
    <p>Thank you!</p>
    <a asp-action="Index">Back to List</a>
</div>