@page
@model RegisterConfirmationModel
<partial name="_Notifications" />

<link rel="stylesheet" href="~/css/registerConfirmation.css" asp-append-version="true" />

@*<div class="container">

    @{
        if (@Model.DisplayConfirmAccountLink)
        {
    <p>
        This app does not currently have a real email sender registered, see <a href="https://aka.ms/aspaccountconf">these docs</a> for how to configure a real email sender.
        Normally this would be emailed: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
    </p>
        }
        else
        {
    <p>
            Please check your email to confirm your account.
    </p>
        }
    }
</div>*@

@*class="confirmButton"*@


<section id="content">
    <!-- MAIN STARTS-->
    <main class="registration">
        <div class="container">
            <header>Confirm Registration</header>

            @{
                if (@Model.DisplayConfirmAccountLink)
                {
                    <form action="#" class="form">
                        <div class="column">
                            <p>Please click the button below to confirm your account registration!</p>
                        </div>
                        <a class="confirmButton" id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
                    </form>
                }
                else
                {
                    <p>
                        Please check your email to confirm your account.
                    </p>
                }

            }
        </div>

    </main>
    <!-- MAIN ENDS -->

</section>