@page
@model RegisterModel


<link rel="stylesheet" href="~/css/register.css" asp-append-version="true">

@if (User.Identity.IsAuthenticated)
{

    @*<div class="row">
        <div class="col-md-4">
            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <h2>Create a new account.</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <select asp-for="Input.Roles">
                    @if (User.IsInRole("SuperAdministrator"))
                    {
                        <option>SUPERADMIN</option>
                        <option>INSPECTORADMIN</option>
                        <option>MTVADMIN</option>
                    }
                    @if (User.IsInRole("InspectorAdministrator"))
                    {
                        <option>MEATESTABLISHMENTREPRESENTATIVE</option>
                        <option>MEATINSPECTOR</option>
                    }
                    @if (User.IsInRole("MTVAdministrator"))
                    {
                        <option>MTVINSPECTOR</option>
                        <option>MTVUSERS</option>
                    }
                
                </select>
                <div class="form-floating">
                    <input asp-for="Input.firstName" class="form-control" autocomplete="firstname" aria-required="true" />
                    <label asp-for="Input.firstName"></label>
                    <span asp-validation-for="Input.firstName" class="text-danger"></span>
                </div>
                <div class="form-floating">
                    <input asp-for="Input.lastName" class="form-control" autocomplete="lastname" aria-required="true" />
                    <label asp-for="Input.lastName"></label>
                    <span asp-validation-for="Input.lastName" class="text-danger"></span>
                </div>
                <div class="form-floating">
                    <input asp-for="Input.middleName" class="form-control" autocomplete="middlename" aria-required="true" />
                    <label asp-for="Input.middleName"></label>
                    <span asp-validation-for="Input.middleName" class="text-danger"></span>
                </div>
                <div class="form-floating">
                    <input asp-for="Input.address" class="form-control" autocomplete="address" aria-required="true" />
                    <label asp-for="Input.address"></label>
                    <span asp-validation-for="Input.address" class="text-danger"></span>
                </div>
                <div class="form-floating">
                    <input asp-for="Input.contactNo" class="form-control" autocomplete="contactno" aria-required="true" />
                    <label asp-for="Input.contactNo"></label>
                    <span asp-validation-for="Input.contactNo" class="text-danger"></span>
                </div>
                <div class="form-floating">
                    <input asp-for="Input.image" class="form-control" autocomplete="image" aria-required="true" />
                    <label asp-for="Input.image"></label>
                    <span asp-validation-for="Input.image" class="text-danger"></span>
                </div>
                @if (User.IsInRole("InspectorAdministrator"))
                {
                    <select asp-for="Input.MeatEstablishment.Type">
                        <option>SLH</option>
                        <option>PDP</option>
                        <option>MCP</option>
                        <option>CSW</option>
                    </select>
                    <div class="form-floating">
                        <input asp-for="Input.MeatEstablishment.Name" class="form-control" autocomplete="image" aria-required="true" />
                        <label asp-for="Input.MeatEstablishment.Name"></label>
                        <span asp-validation-for="Input.MeatEstablishment.Name" class="text-danger"></span>
                    </div>
                    <div class="form-floating">
                        <input asp-for="Input.MeatEstablishment.Address" class="form-control" autocomplete="image" aria-required="true" />
                        <label asp-for="Input.MeatEstablishment.Address"></label>
                        <span asp-validation-for="Input.MeatEstablishment.Address" class="text-danger"></span>
                    </div>
                    <div class="form-floating">
                        <input asp-for="Input.MeatEstablishment.LicenseToOperateNumber" class="form-control" autocomplete="image" aria-required="true" />
                        <label asp-for="Input.MeatEstablishment.LicenseToOperateNumber"></label>
                        <span asp-validation-for="Input.MeatEstablishment.LicenseToOperateNumber" class="text-danger"></span>
                    </div>
                }else{
                    <select asp-for="Input.MeatEstablishment.Type" hidden>
                        <option>SLH</option>
                        <option>PDP</option>
                        <option>MCP</option>
                        <option>CSW</option>
                    </select>
                }

                <div class="form-floating">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                    <label asp-for="Input.Email"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating">
                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                    <label asp-for="Input.Password"></label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-floating">
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                    <label asp-for="Input.ConfirmPassword"></label>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
            </form>
        </div>
    
    </div>*@

	<section id="content">


		<!-- MAIN STARTS-->
		<main class="registration">
			<div class="container">
				<header>Registration Form</header>
				<form action="#" class="form">
					<div class="column">
						<div class="input-box">
							<label>First Name</label>
							<input type="text" placeholder="Enter your First Name" required />
						</div>
						<div class="input-box">
							<label>Middle Name</label>
							<input type="text" placeholder="Enter your Middle Name" required />
						</div>
						<div class="input-box">
							<label>Last Name</label>
							<input type="text" placeholder="Enter your Last Name" required />
						</div>
					</div>

					<div class="input-box address">
						<label>Address</label>
						<div class="column">
							<div class="select-box">
								<select id="regionSelect" onchange="populateProvinces()">
									<option hidden>Region</option>
								</select>
							</div>
							<div class="select-box">
								<select id="provinceSelect" onchange="populateCities()">
									<option hidden>Province</option>
								</select>
							</div>
						</div>
						<div class="column">
							<div class="select-box">
								<select id="citySelect" onchange="populateBarangays()">
									<option hidden>City/Municipality</option>
								</select>
							</div>
							<div class="select-box">
								<select id="barangaySelect">
									<option hidden>Barangay</option>
								</select>
							</div>
						</div>
					</div>

					<div class="column">
						<div class="row">
							<div class="input-box">
								<label>Phone Number</label>
								<input type="number" placeholder="Enter phone number" required />
							</div>
							<div class="input-box">
								<label>Birth Date</label>
								<input type="date" placeholder="Enter birth date" required />
							</div>

							<div class="column">
								<div class="input-box roles">
									<label>Roles</label>
									<div class="select-box">
										<select>
											<option hidden>Select Role</option>
											<option>SuperAdmin</option>
											<option>Meat Inspection Admin</option>
											<option>MTV Inspection Admin</option>
										</select>
									</div>
								</div>
								<div class="sex-box">
									<h3>Sex</h3>
									<div class="sex-option">
										<div class="sex">
											<input type="radio" id="check-male" name="sex" checked />
											<label for="check-male">Male</label>
										</div>
										<div class="sex">
											<input type="radio" id="check-female" name="sex" />
											<label for="check-female">Female</label>
										</div>
									</div>
								</div>

							</div>
						</div>
						<div class="row">
							<div class="upload-box">
								<label>Upload Image for Profile</label>
								<div class="container">
									<input type="file" id="file" accept="image/*" hidden>
									<div class="img-area" data-img="">
										<i class='bx bxs-cloud-upload icon'></i>
										<h3>Upload Image</h3>
										<p>Image size must be less than <span>5MB</span></p>
									</div>
									<button class="select-image" type="button">Select Image</button>
								</div>
							</div>
						</div>
					</div>



					<div class="column">
						<div class="input-box">
							<label>Email</label>
							<input type="email" placeholder="Put an Email" class="text" required />
						</div>
						<div class="input-box">
							<label>Password</label>
							<input type="password" placeholder="Put a Password" class="text" required />
						</div>
						<div class="input-box">
							<label>Confirm Password</label>
							<input type="password" placeholder="Confirm Password" class="text" required />
						</div>
					</div>
					<button>Submit</button>
				</form>
			</div>
				<div class="table-container">
					<table id="admin-accounts" class="table table-striped" style="width:100%">
						<thead>
							<tr>
								<th>Name</th>
								<th>Role</th>
								<th>Email</th>
								<th>Phone Number</th>
								<th>Address</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Basuel, Adrianne John</td>
								<td>MTV Inspection Admin</td>
								<td>adrianne10160103@gmail.com</td>
								<td>09336842863</td>
								<td>Maa, Davao City	</td>
							</tr>
							<tr>
								<td>Arreza, Jess Clarence</td>
								<td>Meat Inspection Admin</td>
								<td>jess@gmail.com</td>
								<td>09322132482</td>
								<td>Maa, Davao City	</td>
							</tr>
							<tr>
								<td>Alagon, Gerico</td>
								<td>Meat Inspection Admin</td>
								<td>gerico@gmail.com</td>
								<td>09665522451</td>
								<td>Matina, Davao City</td>
							</tr>
							<tr>
								<td>Badilles, Karlo Sam</td>
								<td>MTV Inspection Admin</td>
								<td>karlo@gmail.com</td>
								<td>09445511685</td>
								<td>Cabantian, Davao City	</td>
							</tr>
							<tr>
								<td>Tarroja, Ralph</td>
								<td>MTV Inspection Admin</td>
								<td>ralph@gmail.com</td>
								<td>09754488242</td>
								<td>Panacan, Davao City	</td>
							</tr>
							<tr>
								<td>Inayawan, Mary</td>
								<td>Meat Inspection Admin</td>
								<td>mary@gmail.com</td>
								<td>09152246253</td>
								<td>Catalunan Grande, Davao City</td>
							</tr>
							<tr>
								<td>Kawaling, Dexter</td>
								<td>Meat Inspection Admin</td>
								<td>dexter@gmail.com</td>
								<td>09334526845</td>
								<td>Marilug, Davao City</td>
							</tr>
							<tr>
								<td>Batao, Rogene</td>
								<td>Meat Inspection Admin</td>
								<td>rogene@gmail.com</td>
								<td>09785542641</td>
								<td>Boulevard, Davao City</td>
							</tr>

						</tbody>

					</table>
				</div>


		</main>
		<!-- MAIN ENDS -->

	</section>

}
else
{
    <div>
        <h1>Page Not Available</h1>
    </div>
}
<script src="~/js/register.js"></script>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
