@model DomainLayer.Models.MeatInspectionReport

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MeatInspectionReport</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RepDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RepDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReceivingReport)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReceivingReport.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
