@page
@model LoginModel

<link rel="stylesheet" href="~/css/styles.css" />
<link href="~/css/login.css" rel="stylesheet" />
<div class="log-in-page-container">

    <div class="log-in-page-container01">
        <div class="log-in-page-container02">
            <img alt="image"
                 src="~/img/Login Page/login-background1.svg"
                 class="log-in-page-image1" />
            <div class="log-in-page-container03">
                <div class="log-in-page-container04">
                    <a asp-controller="Home" asp-action="Index" class="log-in-page-navlink">
                        <svg viewBox="0 0 1024 1024" class="log-in-page-icon2">
                            <path d="M854 470v84h-520l238 240-60 60-342-342 342-342 60 60-238 240h520z"></path>
                        </svg>
                    </a>
                    <div class="log-in-page-container05">
                        <img alt="image"
                             src="~/img/logo/premess.ico"
                             class="log-in-page-image2" />
                        <h2 class="log-in-page-text03">
                            <span class="log-in-page-text04">PreMESS</span>
                            <span>- NMIS</span>
                        </h2>
                        <div class="log-in-page-container06">
                            <a asp-area="Identity" asp-page="/Account/Register"
                               class="log-in-page-registerclick">
                                Register Now!
                            </a>
                            <span class="log-in-page-text06">(MTV Application)</span>
                        </div>
                    </div>
                </div>
                <form id="account" method="post">

                    <span class="log-in-page-text07">Sign in your account</span>
                    <div class="log-in-page-container07">
                        <span class="log-in-page-text08">Email</span>
                        <input asp-for="Input.Email" class="log-in-page-email input" autocomplete="username" aria-required="true" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>

                    </div>
                    <div class="log-in-page-container08">
                        <span class="log-in-page-text09">Password</span>
                        <input asp-for="Input.Password" class="log-in-page-email1 input" autocomplete="current-password" aria-required="true" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                        <div asp-validation-summary="All" class="text-danger"></div>
                    </div>
                    <div class="log-in-page-container09">
                        <span class="log-in-page-text10">Forgot your password?</span>
                    </div>
                    <div class="log-in-page-container10">
                        <input type="checkbox" asp-for="Input.RememberMe" class="mx-2" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </div>
                    <button id="login-submit" type="submit" class="log-in-page-signinbtn button button-transparent">Log in</button>
                    <div class="log-in-page-container11">
                        <button type="button" class="log-in-page-googlebtn button">
                            <svg viewBox="0 0 1316.5714285714284 1024"
                                 class="log-in-page-icon4">
                                <path d="M821.143 521.714c0 239.429-160.571 409.143-402.286 409.143-231.429 0-418.857-187.429-418.857-418.857s187.429-418.857 418.857-418.857c113.143 0 207.429 41.143 280.571 109.714l-113.714 109.143c-30.857-29.714-85.143-64.571-166.857-64.571-142.857 0-259.429 118.286-259.429 264.571s116.571 264.571 259.429 264.571c165.714 0 228-119.429 237.714-180.571h-237.714v-144h395.429c4 21.143 6.857 42.286 6.857 69.714zM1316.571 452v120h-119.429v119.429h-120v-119.429h-119.429v-120h119.429v-119.429h120v119.429h119.429z"></path>
                            </svg>
                            <span class="log-in-page-text13">Sign in with Google</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>






@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
