@page

<partial name="_Notifications" />

<link rel="stylesheet" href="~/css/registerConfirmation.css" asp-append-version="true" />

<section id="content">
    <main class="registration">
        <div class="container">
            <header>Confirmed Account!</header>
            <br />
            <p>
                Congrats! Your account has been successfully confirmed.
            </p>
            <br />
            <p>
                You can now <a href="/Identity/Account/Login">login</a> to your account.
            </p>
        </div>
    </main>
</section>
