@page
<partial name="_Notifications" />

<link rel="stylesheet" href="~/css/registerConfirmation.css" asp-append-version="true" />

<section id="content">
    <!-- MAIN STARTS-->
    <main class="registration">
        <div class="container">
            <header>Confirm Registration</header>
            <br />
            <br />
            <p>
                Please check your email to confirm your account.
            </p>
            <br />
            <br />
            <p>
                Note: Please check spam if not found in inbox.
            </p>
        </div>

    </main>
    <!-- MAIN ENDS -->

</section>