@page
<partial name="_Notifications" />

<link rel="stylesheet" href="~/css/registerConfirmation.css" asp-append-version="true" />

<section id="content">
    <!-- MAIN STARTS-->
    <main class="registration">
        <div class="container">
            <header>Registration Successful!</header>
            <br />
            <br />
            <p>
                You can now <a href="/Identity/Account/Login">login</a> to your account.
            </p>
        </div>

    </main>
    <!-- MAIN ENDS -->

</section>