@model DomainLayer.Models.PostArticle
<partial name ="_Notifications"/>

@{
    ViewData["Title"] = "Edit";
}




<link rel="stylesheet" href="~/css/post-article.css" asp-append-version="true" />
<section id="content">
	<!-- MAIN STARTS-->
	<main class="article">
		<div class="container">
			<header>Edit Article</header>
			<form asp-action="Edit" class="form">
				<div class="input-box">
					<label asp-for="Author">Author</label>
					<input type="text" asp-for="Author" required />
					<span asp-validation-for="Author" class="text-danger"></span>
				</div>

				<div class="column">
					<div class="row">
						<div class="input-box">
							<label asp-for="Label">Label</label>
							<input type="text" asp-for="Label" required />
							<span asp-validation-for="Label" class="text-danger"></span>
						</div>
						<div class="input-box">
							<label asp-for="Title">Title</label>
							<input type="text" asp-for="Title" required />
							<span asp-validation-for="Title" class="text-danger"></span>
						</div>
						<div class="input-box">
							<label asp-for="Description">Description</label>
							<textarea rows="4" cols="50" asp-for="Description" required></textarea>
							<span asp-validation-for="Description" class="text-danger"></span>
						</div>
					</div>

					<input asp-for="Image" hidden>

					@* <div class="row">
						<div class="upload-box">
							<label asp-for="Image">Upload Article's Image</label>
							<div class="container">
								<input type="file" id="file" accept="image/*" asp-for="Image"  hidden>
								<div class="img-area" data-img="">
									<i class='bx bxs-cloud-upload icon'></i>
									<h3>Upload Image</h3>
									<p>Image size must be less than <span>5MB</span></p>
								</div>
								<button class="select-image" type="button">Select Image</button>
								<span asp-validation-for="Image" class="text-danger"></span>
							</div>
						</div>
					</div> *@
				</div>

				<div class="input-box" >
					<label asp-for="Introduction">Introduction</label>
					<textarea rows="4" cols="50" asp-for="Introduction" required></textarea>
					<span asp-validation-for="Introduction" class="text-danger"></span>
				</div>
				<div class="input-box">
					<label asp-for="Body">Body</label>
					<textarea rows="4" cols="50" asp-for="Body" required></textarea>
					<span asp-validation-for="Body" class="text-danger"></span>
				</div>
				<div class="input-box">
					<label asp-for="Conclusion">Conclusion</label>
					<textarea rows="4" cols="50"asp-for="Conclusion" required></textarea>
					<span asp-validation-for="Conclusion" class="text-danger"></span>
				</div>
				<div class="input-box">
					<label asp-for="References">Reference/s</label>
					<textarea rows="4" cols="50" asp-for="References" required></textarea>
					<span asp-validation-for="References" class="text-danger"></span>
				</div>
				
				<input asp-for="Date" hidden/>


				<div class="column">
					<button style="background-color: grey;" asp-action="Index">Go back to the previous page</button>
					<button type="submit" value="Save">Save Changes</button>
				</div>
			</form>
		
		</div>
	</main>
	<!-- MAIN ENDS -->
</section>

<script>
	//Upload Image
	function handleImageUpload(image) {
		if (image.size < 5000000) {
			const reader = new FileReader();
			reader.onload = () => {
				const allImg = imgArea.querySelectorAll('img');
				allImg.forEach(item => item.remove());
				const imgUrl = reader.result;
				const img = document.createElement('img');
				img.src = imgUrl;
				imgArea.appendChild(img);
				imgArea.classList.add('active');
				imgArea.dataset.img = image.name;
			}
			reader.readAsDataURL(image);
		} else {
			alert("Image size more than 5MB");
		}
	}

	// Upload Image via button click
	const selectImage = document.querySelector('.select-image');
	const inputFile = document.querySelector('#file');
	const imgArea = document.querySelector('.img-area');

	selectImage.addEventListener('click', function () {
		inputFile.click();
	});

	inputFile.addEventListener('change', function () {
		const image = this.files[0];
		handleImageUpload(image);
	});

	// Drag and drop feature
	imgArea.addEventListener('dragover', function (e) {
		e.preventDefault();
		this.classList.add('dragging');
	});

	imgArea.addEventListener('dragleave', function () {
		this.classList.remove('dragging');
	});

	imgArea.addEventListener('drop', function (e) {
		e.preventDefault();
		this.classList.remove('dragging');

		const image = e.dataTransfer.files[0];
		handleImageUpload(image);
	});
</script>


@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
