
<script src="~/js/qrScript.js" asp-append-version="true"></script>
<link rel="stylesheet" href="~/css/qr.css" asp-append-version="true" />

<section id="content">
	<!-- MAIN STARTS-->
	<main class="QR-demo">
		<div class="head-title">
			<div class="left">
				<h1>QR Demonstration</h1>
			</div>
		</div>
		<div class="FirstLayer">
			<div class="antemortem-chart charts-card">
				<div class="head">
					<h3>Qr Dummy Inputs</h3>
				</div>
				<form action="#" class="form">
					<div class="input-box">
						<label>Meat Dealer</label>
						<input type="text" placeholder="Enter full name" required />
					</div>

					<div class="input-box">
						<label>Farm Origin</label>
						<input type="text" placeholder="Enter Address" required />
					</div>

					<div class="input-box address">
						<label>Name of Meat Establishment</label>
						<input type="text" placeholder="Enter Meat Establishment Name" required />
					</div>

					<div class="input-box">
						<label>Date Slaughtered</label>
						<input type="date" placeholder="Enter birth date" required />
					</div>

					<button type="button" id="submitBtn" class="submit">Submit</button>

				</form>
				<!-- Modal -->
				<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLongTitle">QR Code</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<div id="qrcode"></div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
								<button type="button" id="downloadBtn" class="btn btn-primary">Download</button>
							</div>
						</div>
					</div>
				</div>




			</div>

			<div class="antemortem-chart charts-card">
				<div class="head">
					<h3>QR Scanning Demo</h3>
				</div>
				<div class="container">
					<input type="file" id="file" accept="image/*" hidden>
					<div class="img-area" data-img="">
						<i class='bx bx-qr-scan icon'></i>
						<h3>Upload QR Code</h3>
					</div>
					<div class="column">
						<button id="upload" class="select-image mb-1">Select Image</button>
						<button id="scan" class="select-image mb-1">Scan QR</button>
					</div>

					<div class="modal fade" id="scanningModal" tabindex="-1" role="dialog" aria-labelledby="scanningModalTitle" aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLongTitle">QR Scan Result</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body" id="modalBody">
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
								</div>
							</div>
						</div>
					</div>


					<button id="useCameraBtn" class="select-image mb-1">Use Camera to Scan</button>

					<div class="modal fade" id="cameraModal" tabindex="-1" role="dialog" aria-labelledby="cameraModalTitle" aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="cameraModalTitle">Camera Modal</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<!-- Camera content will go here -->

									<div style="text-align: center;">

										<div id="reader"></div>
										<div id="show" style="display: none;">
											<h4>Scanned Result</h4>
											<!-- Assuming the 'result' element is a <div> element -->
											<div id="result" style="white-space: pre-line;"></div>

										</div>
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
								</div>
							</div>
						</div>
					</div>



					<div class="input-group">
						<input type="text" class="form-control" placeholder="Search thru UID" aria-label="UID" aria-describedby="basic-addon2">
						<div class="input-group-append">
							<button class="btn btn-primary" type="button">Trace</button>
						</div>
					</div>
				</div>

			</div>
		</div>

		</div>



	</main>
	<!-- MAIN ENDS -->

</section>


<script src="~/js/qr.js" asp-append-version="true"></script>
<script>
	let html5QrcodeScanner;

	// Add an event listener to the 'shown.bs.modal' event.
	$('#cameraModal').on('shown.bs.modal', function () {
		html5QrcodeScanner = new Html5QrcodeScanner("reader", { fps: 10, qrbox: { width: 250, height: 250 } });
		html5QrcodeScanner.render(function (decodedText, decodedResult) {
			if (decodedText) {
				document.getElementById('show').style.display = 'block';

				// Split the decoded text by a separator (e.g., ";") to separate each info
				const infoArray = decodedText.split(";");

				// Generate a string with each info separated by an HTML line break
				const resultText = infoArray.join("<br>");

				document.getElementById('result').innerHTML = resultText;
				html5QrcodeScanner.clear();
			}
		}, function (errorMessage) {
			// onError Callback
			console.error(errorMessage);
		});
	});


	// Add an event listener to the 'hidden.bs.modal' event.
	$('#cameraModal').on('hidden.bs.modal', function () {
		if (html5QrcodeScanner) {
			html5QrcodeScanner.clear();
			html5QrcodeScanner = null;
		}
	});

	document.getElementById('useCameraBtn').addEventListener('click', function () {
		$('#cameraModal').modal('show');
	});

</script>
