@* @model DomainLayer.Models.ViewModels.PostmortemViewModel
@using Azure.Core;
@using DomainLayer.Enum;
<link href="~/css/inspectorSideNav.css" rel="stylesheet" />
@{
    ViewData["Title"] = "Create";
    Layout = "_Layout";
}

<section id="content">


    <!-- MAIN STARTS-->
    <main class="registration">
        <div class="FirstLayer">
            <h1>Conduct of Postmortem Inspection</h1>
            <hr />
        </div>
        <div class="FirstLayer">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Receiving-Acceptance</a></li>
                    <li class="breadcrumb-item"><a href="#">Antemortem</a></li>
                    <li class="breadcrumb-item"><a href="#">Passed</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Postmortem</li>
                </ol>
            </nav>
        </div>

        <div class="container">

            <a class='bx bxs-chevron-left' asp-action="Index">
                <span>Back</span>
            </a>



            <form class="form" asp-action="Create">
                <div class="column">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="input-box" style="display: none">
                        <label asp-for="PassedForSlaughterId" class="control-label"></label>
                        <select asp-for="PassedForSlaughterId" class="form-control" asp-items="ViewBag.PassedForSlaughterId">
                            <option value="@ViewBag.LatestPassedForSlaughterId" selected="selected">@ViewBag.LatestPassedForSlaughterId</option>
                        </select>
                    </div>

                    <div class="input-box">
                        <label asp-for="AnimalPart" class="control-label">Animal Part:</label>
                        <select asp-for="AnimalPart" class="form-control" asp-items="@Html.GetEnumSelectList<AnimalPart>()">
                            <option>--Select--</option>
                        </select>
                        <span asp-validation-for="AnimalPart" class="text-danger"></span>
                    </div>
                    <div class="input-box">
                        <label asp-for="Cause" class="control-label">Cause:</label>
                        <select asp-for="Cause" class="form-control" asp-items="@Html.GetEnumSelectList<Cause>()">
                            <option>--Select--</option>
                        </select>
                        <span asp-validation-for="Cause" class="text-danger"></span>
                    </div>
                </div>
                <div class="column">
                    <div class="input-box">
                        <label asp-for="Weight" class="control-label">Weight:</label>
                        <input asp-for="Weight" class="form-control" />
                        <span asp-validation-for="Weight" class="text-danger"></span>
                    </div>
                    <div class="input-box">
                        <label asp-for="NoOfHeads" class="control-label">No. Of Heads: (For Carcass ONLY)</label>
                        <input asp-for="NoOfHeads" class="form-control" />
                        <span asp-validation-for="NoOfHeads" class="text-danger"></span>
                    </div>
                </div>


                <br />


                <label for="file">Upload 3 Images for Inspection (Optional)</label>
                <br />
                <div class="column">

                    <div class="upload-box">

                        <label>1st image</label>
                        <div class="container">

                            <input type="file" id="file" accept="image/*" asp-for="Image1" hidden>
                            <div class="img-area" data-img="">
                                <i class='bx bxs-cloud-upload icon'></i>
                                <h3>Upload Image</h3>
                                <p>Image size must be less than <span>5MB</span></p>
                            </div>
                            <button class="select-image" type="button">Select Image</button>
                        </div>
                    </div>

                    <br />
                    <div class="upload-box">

                        <label>2nd Image</label>
                        <div class="container">

                            <input type="file" id="filee" accept="image/*" asp-for="Image2" hidden>
                            <div class="img-areaa" data-img="">
                                <i class='bx bxs-cloud-upload icon'></i>
                                <h3>Upload Image</h3>
                                <p>Image size must be less than <span>5MB</span></p>
                            </div>
                            <button class="select-imagee" type="button">Select Image</button>
                        </div>
                    </div>

                    <br />

                    <div class="upload-box">

                        <label>3rd Image</label>
                        <div class="container">

                            <input type="file" id="file3" accept="image/*" asp-for="Image3" hidden>
                            <div class="img-area3" data-img="">
                                <i class='bx bxs-cloud-upload icon'></i>
                                <h3>Upload Image</h3>
                                <p>Image size must be less than <span>5MB</span></p>
                            </div>
                            <button class="select-image3" type="button">Select Image</button>
                        </div>
                    </div>
                    <br />


                </div>

                <script>
                    const selectImagee = document.querySelector('.select-imagee');
                    const inputFilee = document.querySelector('#filee');
                    const imgAreaa = document.querySelector('.img-areaa');

                    selectImagee.addEventListener('click', function () {
                        inputFilee.click();
                    });

                    inputFilee.addEventListener('change', function () {
                        const imagee = this.files[0];
                        if (imagee.size < 5000000) {
                            const readers = new FileReader();
                            readers.onload = () => {
                                const allImgg = imgAreaa.querySelectorAll('img');
                                allImgg.forEach(item => item.remove());
                                const imgUrll = readers.result;
                                const img = document.createElement('img');
                                img.src = imgUrll;
                                imgAreaa.appendChild(img);
                                imgAreaa.classList.add('active');
                                imgAreaa.dataset.img = imagee.name;
                            };
                            readers.readAsDataURL(imagee);
                        } else {
                            alert("Image size more than 5MB");
                        }
                    });
                </script>


                <script>
                    //Upload Image
                    const selectImage3 = document.querySelector('.select-image3');
                    const inputFile3 = document.querySelector('#file3');
                    const imgArea3 = document.querySelector('.img-area3');

                    selectImage3.addEventListener('click', function () {
                        inputFile3.click();
                    });

                    inputFile3.addEventListener('change', function () {
                        const image3 = this.files[0];
                        if (image3.size < 5000000) {
                            const reader = new FileReader();
                            reader.onload = () => {
                                const allImgs = imgArea3.querySelectorAll('img');
                                allImgs.forEach(item => item.remove());
                                const imgUrl3 = reader.result;
                                const img = document.createElement('img');
                                img.src = imgUrl3;
                                imgArea3.appendChild(img);
                                imgArea3.classList.add('active');
                                imgArea3.dataset.img = image3.name;
                            };
                            reader.readAsDataURL(image3);
                        } else {
                            alert("Image size more than 5MB");
                        }
                    });
                </script>


                <button type="submit" value="Create">Create</button>

            </form>

        </div>

        <br />
        <br />
        @section Scripts {
            @{
                await Html.RenderPartialAsync("_ValidationScriptsPartial");
            }
        }

    </main>
</section>


<script src="~/js/register.js"></script>
 *@