.modal {
    /*   display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);*/

    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
}
.active-choice {
    background-color: blue;
    color: white; /* Optional: If you want the text color to change when the background is blue */
}


.modal-content {
    /*background-color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;*/
    /* Center horizontally and vertically */
    /*top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);*/
    /* Set a maximum width for the modal content */
    /*max-width: 400px;*/

    position: relative;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

/* Style for the buttons */
button {
    padding: 10px 20px;
    margin: 5px;
}

.exit-button {
    /*position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #333;*/ /* Change the color as needed */

    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
/* Add styling to hide and show the video container */
.hidden {
    display: none;
}
.exit-button:hover, .exit-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#videoContainer {
    display: none; /* Hidden by default */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px; /* Adjust the width as needed */
    height: 600px; /* Adjust the height as needed */
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

body {
    margin: 0;
    font-size: 16px;
    background-color: #009688;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

.custom-box {
    max-width: 700px;
    background-color: #ffffff;
    margin: 40px auto;
    padding: 30px;
    border-radius: 10px;
    animation: fadeInRight 1s ease;
}

@keyframes fadeInRight {
    0% {
        transform: translateX(40px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

.custom-box::before,
.custom-box::after {
    content: '';
    clear: both;
    display: table;
}

.custom-box.hide {
    display: none;
}

.home-box h3 {
    font-size: 18px;
    color: #000000;
    font-weight: 500;
    margin-bottom: 15px;
    line-height: 25px;
}

.home-box p {
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 22px;
    color: #000000;
    font-weight: 400;
}

.home-box .btn {
    margin-top: 20px;
}

.home-box p span {
    font-weight: 500;
}

.btn {
    padding: 15px 45px;
    background-color: #009688;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}
.btn:hover{
    background-color: #09e9d4;
}

.quiz-box .question-number,
.quiz-box .question-text,
.quiz-box .option-container,
.quiz-box .next-question-btn,
.quiz-box .answers-indicator {
    width: 100%;
    float: left;
}

.quiz-box .question-number {
    font-size: 18px;
    color: #009688;
    font-weight: 600;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 10px;
    line-height: 25px
}

.quiz-box .question-text {
    font-size: 22x;
    color: #000000;
    line-height: 28px;
    font-weight: 400;
    padding: 20px 0;
    margin: 0;
}
.quiz-box .option-container .option {
    background-color: #cccccc;
    padding: 15px;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    text-transform: capitalize;
    opacity: 0;
    animation: fadeIn 0.3s ease forwards;
    position: relative;
    overflow: hidden;
}

.quiz-box .option-container .already-answered {
    pointer-events: none;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.quiz-box .option-container .option.selected {
    background-color: #009688;
    color: #ffffff;
}

.quiz-box .btn {
    margin-top: 15px 0;
}

.quiz-box .answers-indicator {
    border-top: 1px solid #cccccc;
}

    .quiz-box .answers-indicator div {
        height: 40px;
        width: 40px;
        display: inline-block;
        background-color: #cccccc;
        border-radius: 50%;
        margin-right: 3px;
        margin-top: 15px;
    }

        .quiz-box .answers-indicator div.correct {
            background-image: url('../img/check.png');
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center;
        }

        .quiz-box .answers-indicator div.wrong {
            background-image: url('../img/x.png');
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center;
        }



.result-box {
    text-align: center;
}

    .result-box.hide {
        display: none;
    }

    .result-box h1 {
        font-size: 36px;
        font-size: 42px;
        color: #009688;
    }

    .result-box table {
        width: 100%;
        border-collapse: collapse;
        margin: 30px;
    }

        .result-box table td {
            border: 1px solid #cccccc;
            padding: 8px 15px;
            font-weight: 500;
            color: #000000;
            width: 50%;
            text-align: left;
            font-size: 18px;
        }

    .result-box .btn {
        margin-right: 20px;
    }

@media(max-width:767px) {
    .result-box .btn {
        margin-bottom: 15px
    }

    body {
        padding: 15px;
    }
}

.url .hide {
    opacity: 00%;
}

.url {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.facebook-container {
    width: 100%;
    max-width: 500px;
    height: 220px;
    background-color: #3b5998;
    display: flex;
    align-items: top;
    justify-content: space-evenly;
    color: #fff;
    font-size: 16px;
    margin-top: 20px;
    border-radius: 8px;
    border: 5px solid;
    border-color: #CFF5E7;
    background-image: url("../img/mtvodha.jpg");
    background-size: cover;
}

.facebook-container1 {
    width: 100%;
    max-width: 500px;
    height: 220px;
    background-color: #3b5998;
    display: flex;
    align-items: top;
    justify-content: space-evenly;
    color: #fff;
    font-size: 16px;
    margin-top: 20px;
    border-radius: 8px;
    border: 5px solid;
    border-color: #CFF5E7;
    background-image: url("../img/seminar.png");
    background-size: cover;
}

.facebook-container:hover {
    background-color: #1d3557;
    border-color: #1d3557;
    cursor: pointer;
}

.facebook-container1:hover {
    background-color: #1d3557;
    border-color: #1d3557;
    cursor: pointer;
}

.facebook-link {
    text-decoration: none;
}
