@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a, p, ul, ol, input, label, div {
	text-decoration: none;
	margin: 0;
	padding: 0;
}

a {
	color: var(--breadcrumb);
}

li {
	list-style: none;
}

:root {
	--poppins: 'Poppins', sans-serif;
	--lato: 'Lato', sans-serif;
	--white: #F9F9F9;
	--white1: #FFFFFF;
	--bgcontent: #DDDDDD;
	--light-green: #18544c; /* light-green */
	/*--blue: #00ffdd;*/ /* teal */
	--green2: #005262;
	--green3: #00A76B;
	--green6: #0D9A56;
	--green7: #11B07A;
	--finalgreen: #11B07A;
	--breadcrumb: #11B07A;
	--btndownload: #11B07A;
	--filterbgcolor: #FFFFFF;
	--filterborder: #0D9A56;
	--tblHeader: #342E37;
	--apple-green: #8ABE53;
	--apple-green1: #C7FF9B;
	--apple-green2: #FEFFC2;
	--hrColor: #FEFFC2;
	--black: #342E37;
	/*--tblColor: #FFFFFF;*/
	--tablefontcolor: #342E37;
	--dark-green: #002923; /* dark-green */
	--dark-grey: #AAAAAA;
	--dark: #f7f7f7;
	--red: #DB504A;
	--yellow: #FFCE26;
	--yellow1: #E1CE7A;
	--light-yellow: #18b432;
	--orange: #FD7238;
	--light-orange: #FFE0D3;
	--violet: rgb(187, 57, 187);
	--light-violet: rgb(248, 188, 248);
	--dirlist: #FFFFFF;
	--black1: #342E37;
	--grey: #DDDDDD;
	--blue: #0d6efd;
	--bluehover: #0b5ed7;
}

html {
	overflow-x: hidden;
}

/* Dark Mode */
body.dark {
	--finalgreen: #151515; /*dating light*/
	--bgcontent: #272A2C; /* black content bg */ /*dating grey name*/
	--dark: #FBFBFB;
	--black: #FFFFFF;
	--black1: #342E37;
	--apple-green2: #11B07A;
	--tablefontcolor: #FFFFFF;
	--btndownload: #11B07A;
	--filterbgcolor: #151515;
	--dirlist: #11B07A;
	--filterborder: #FFFFFF;
	/*--tblColor: #151515;*/
}

body {
	background: var(--bgcontent);
	overflow-x: hidden;
}





/* SIDEBAR */
#sidebar {
	position: fixed;
	top: 50px;
	left: 0;
	width: 280px;
	height: 100%;
	background: var(--finalgreen);
	z-index: 2000;
	font-family: var(--lato);
	transition: .3s ease;
	overflow-x: hidden;
	scrollbar-width: none;
	flex-direction: column;
}

	#sidebar::--webkit-scrollbar {
		display: none;
	}

	#sidebar.hide {
		width: 60px;
	}

		#sidebar.hide .details {
			display: none;
		}

	#sidebar .head {
		display: flex;
		gap: 20px;
		padding-left: 30px;
		padding-top: 13px;
	}

		#sidebar .head .logo {
			width: 44px;
			height: 44px;
			object-fit: cover;
		}

			#sidebar .head .logo img {
				width: 100%;
				object-fit: cover;
			}

.details .office {
	font-size: 20px;
	font-weight: bold;
	color: #18544c;
}

.details .region {
	color: var(--black);
}

#sidebar .side-menu.top {
	width: 100%;
	margin-top: 60px;
}

.title {
	font-size: 10px;
	font-weight: 500;
	color: var(--white);
	text-transform: uppercase;
	margin: 10px auto 10px 10px;
}

#sidebar .side-menu.bot {
	width: 100%;
	position: absolute;
	bottom: 0;
}

#sidebar .side-menu li {
	height: 48px;
	background: transparent;
	margin-left: 6px;
	border-radius: 48px 0 0 48px;
	padding: 4px;
}

	#sidebar .side-menu li .text {
		flex: 1;
	}

	#sidebar .side-menu li .dropdown-icon {
		font-size: 14px;
	}

	#sidebar .side-menu li.active {
		background: var(--bgcontent);
		position: relative;
	}

		#sidebar .side-menu li.active::before {
			content: '';
			position: absolute;
			width: 40px;
			height: 40px;
			border-radius: 50%;
			top: -40px;
			right: 0;
			box-shadow: 20px 20px 0 var(--bgcontent);
			z-index: -1;
		}

		#sidebar .side-menu li.active::after {
			content: '';
			position: absolute;
			width: 40px;
			height: 40px;
			border-radius: 50%;
			bottom: -40px;
			right: 0;
			box-shadow: 20px -20px 0 var(--bgcontent);
			z-index: -1;
		}


	#sidebar .side-menu li a {
		width: 100%;
		height: 100%;
		background: var(--finalgreen);
		display: flex;
		align-items: center;
		border-radius: 48px;
		font-size: 16px;
		color: var(--white);
		white-space: nowrap;
		overflow-x: hidden;
	}

#sidebar .side-menu.top li.active a {
	color: var(--apple-green2);
}

#sidebar.hide .side-menu li a {
	width: calc(48px - (4px * 2));
	transition: width .3s ease;
}

#sidebar .side-menu li a.logout {
	color: var(--red);
}

#sidebar .side-menu.bot a:hover {
	font-size: 1.1rem;
	background-color: #c9c8c8;
}

#sidebar .side-menu.top li a:hover {
	color: var(--apple-green2);
}

#sidebar .side-menu li a .bx {
	min-width: calc(60px - ((4px + 6px) * 2));
	display: flex;
	justify-content: center;
}
/* SIDEBAR */


#meatcheck #navbar .logo {
	width: 50%; /* Logo stretches to fill the available width */
	height: 65px; /* Adjust the height as needed */
	display: flex;
	align-items: center;
	margin-right: 5px; /* Add some margin for spacing */
	margin-top: 10px;
}

	/* Update the logo image styles */
	#meatcheck #navbar .logo img {
		width: 155%;
		height: 155%; /* Logo stretches to fill the available height */
		object-fit: contain;
		/*background-color:var(--green7);*/
	}



/* CONTENT */
#content, #meatcheck #navbar {
	position: relative;
	width: calc(100% - 280px);
	left: 280px;
	transition: .3s ease;
}

#sidebar.hide ~ #meatcheck #navbar {
	width: calc(100% - 60px);
	left: 60px;
}

#sidebar.hide ~ #content {
	width: calc(100% - 60px);
	left: 60px;
}




/* NAVBAR */
#meatcheck #navbar nav {
	height: 56px;
	background: var(--finalgreen);
	padding: 0 24px;
	display: flex;
	align-items: center;
	grid-gap: 12px;
	font-family: var(--lato);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 3000;
	width: 100%;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

	#meatcheck #navbar nav::before {
		content: '';
		position: absolute;
		width: 0;
		height: 40px;
		bottom: -40px;
		left: 0;
		border-radius: 50%;
		box-shadow: -20px -20px 0 var(--light);
	}

	#meatcheck #navbar nav a {
		color: var(--black);
	}

	#meatcheck #navbar nav .bx.bx-menu {
		cursor: pointer;
		color: var(--white);
	}

	#meatcheck #navbar nav .nav-link {
		font-size: 14px;
		;
		transition: .3s ease;
	}

		#meatcheck #navbar nav .nav-link:hover {
			color: var(--green7);
		}

	#meatcheck #navbar nav form {
		max-width: 400px;
		width: 100%;
		margin-right: auto;
	}

		#meatcheck #navbar nav form .form-input {
			display: flex;
			align-items: center;
			height: 36px;
		}

			#meatcheck #navbar nav form .form-input input {
				flex-grow: 1;
				padding: 0 16px;
				height: 100%;
				border: none;
				background: var(--light);
				;
				border-radius: 36px 0 0 36px;
				outline: none;
				width: 100%;
				color: var(--light);
				;
			}

			#meatcheck #navbar nav form .form-input button {
				width: 36px;
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				background: var(--light);
				color: var(--light);
				font-size: 18px;
				border: none;
				outline: none;
				border-radius: 0 36px 36px 0;
				cursor: pointer;
			}

	#meatcheck #navbar nav .notification {
		font-size: 20px;
		position: relative;
	}

		#meatcheck #navbar nav .notification .num {
			position: absolute;
			top: -6px;
			right: -6px;
			width: 20px;
			height: 20px;
			border-radius: 50%;
			border: 2px solid var(--light);
			background: var(--red);
			color: var(--light);
			font-weight: 700;
			font-size: 12px;
			display: flex;
			justify-content: center;
			align-items: center;
		}

	#meatcheck #navbar nav .profile img {
		width: 36px;
		height: 36px;
		object-fit: cover;
		border-radius: 50%;
	}

	#meatcheck #navbar nav .switch-mode {
		display: block;
		min-width: 50px;
		height: 25px;
		border-radius: 25px;
		background: var(--bgcontent);
		cursor: pointer;
		position: relative;
	}

		#meatcheck #navbar nav .switch-mode::before {
			content: '';
			position: absolute;
			top: 2px;
			left: 2px;
			bottom: 2px;
			width: calc(25px - 4px);
			background: var(--green3);
			border-radius: 50%;
			transition: all .3s ease;
		}

	#meatcheck #navbar nav #switch-mode:checked + .switch-mode::before {
		left: calc(100% - (25px - 4px) - 2px);
	}

/* NAVBAR */

/* Header Starts*/
#content main {
	width: 100%;
	padding-bottom: 0;
	padding-top: 64px;
	padding-left: 24px;
	padding-right: 24px;
	font-family: var(--poppins);
	overflow-y: auto;
}

	#content main .head-title {
		display: flex;
		align-items: center;
		justify-content: space-between;
		grid-gap: 16px;
		flex-wrap: wrap;
	}

		#content main .head-title .left h1 {
			font-size: 50px;
			font-weight: 600;
			margin-bottom: 8px;
			margin-top: 35px;
			margin-left: 10px;
			color: var(--black);
		}

		#content main .head-title .left h3 {
			font-size: 18px;
			font-weight: 500;
			margin-top: 30px;
			margin-bottom: 3px;
			margin-left: 10px;
			color: var(--black);
		}
/* Header Ends*/




@media screen and (max-width: 768px) {
	#sidebar {
		width: 200px;
	}

	#content {
		width: calc(100% - 60px);
		left: 200px;
	}

	#meatcheck #navbar {
		width: calc(100% - 60px);
		left: 200px;
	}

		#meatcheck #navbar nav .nav-link {
			display: none;
		}
}



@media screen and (max-width: 576px) {

	#meatcheck #navbar nav form .form-input button {
		width: auto;
		height: auto;
		background: transparent;
		border-radius: none;
		color: var(--dark);
	}

	#meatcheck #navbar nav form.show .form-input input {
		display: block;
		width: 100%;
	}

	#meatcheck #navbar nav form.show .form-input button {
		width: 36px;
		height: 100%;
		border-radius: 0 36px 36px 0;
		color: var(--light);
		background: var(--red);
	}

	#meatcheck #navbar nav form.show ~ .notification,
	#meatcheck #navbar nav form.show ~ .profile {
		display: none;
	}

	#content main .box-info {
		grid-template-columns: 1fr;
	}

	#content main .FirstLayer .head {
		min-width: 420px;
	}

	#content main .FirstLayer .applications table {
		min-width: 420px;
	}

	#content main .FirstLayer .todo .todo-list {
		min-width: 420px;
	}
}

.swal2-icon {
	margin: 20px auto 0
}
