﻿body {
    text-size-adjust: initial;
    font-weight: 50;
}

#content main {
    max-height: 100%;
}

.registration .table-container {
    position: relative;
    max-width: 1350px;
    width: 100%;
    background: #FFF;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin-left: 5%;
    margin-top: 50px;
}
.registration .createBtn {
    border: 1px solid var(--blue);
    background-color: var(--blue);
    padding: 10px 15px;
    color: var(--light);
    border-radius: 15px;
}


/*Responsive*/
@media screen and (max-width: 1060px) {
    .registration .table-container {
        width: 1200px;
    }
}
