﻿@using Microsoft.AspNetCore.Identity;
@using thesis.Areas.Identity.Data;
@inject UserManager<AccountDetails> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Responsive sidebar template with sliding effect and dropdown menu based on bootstrap 3">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0-alpha3/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/dataTables.bootstrap5.min.css">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="~/css/sidenav.css" asp-append-version="true" />

    <title>@ViewData["Title"] - thesis</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    @*<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />*@
    @*<link rel="stylesheet" href="~/thesis.styles.css" asp-append-version="true" />*@
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">*@

    

    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.40.0/apexcharts.min.js"></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="https://cdn.datatables.net/1.13.5/css/dataTables.bootstrap5.min.css"></script>
	<script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.13.5/js/dataTables.bootstrap5.min.js"></script>
    
</head>
<body>
    @if (User.Identity.IsAuthenticated)
    {
        @if (User.IsInRole("SuperAdministrator"))

        {
			<section id="sidebar">

				<div class="head">
					<div class="logo">
						<a asp-area="" asp-controller="Dashboard" asp-action="Index">
							<img src="~/img/logo.png" />
						</a>
					</div>
					<div class="details">
						<p class="office">NMIS</p>
						<p class="region">RTOC XI</p>
					</div>
				</div>

				<ul class="side-menu top">
					<p class="title">Main</p>
					<li>
						<a asp-area="" asp-controller="Dashboard" asp-action="Index">
							<i class='bx bxs-dashboard'></i>
							<span class="text">Dashboard</span>
						</a>
					</li>
					<li>
						<a asp-area="" asp-controller="Analytics" asp-action="Index">
							<i class='bx bxs-doughnut-chart'></i>
							<span class="text">Analytics</span>
						</a>
					</li>
					<li>
						<a asp-controller="GeoLocation" asp-action="Index">
							<i class='bx bx-current-location'></i>
							<span class="text">GeoLocation</span>
						</a>
					</li>
					<li>
						<a asp-area="Identity" asp-page="/Account/Register">
							<i class='bx bx-user-plus'></i>
							<span class="text">Register Admin Accounts</span>
						</a>
					</li>
					<li>
						<a asp-controller="UsersManagement" asp-action="Index">
							<i class='bx bxs-user-account'></i>
							<span class="text">Users Management</span>
						</a>
					</li>
					<li>
						<a asp-controller="MeatInspectorList" asp-action="Index">
							<i class='bx bxs-report'></i>
							<span class="text">Meat Inspection Reports</span>
							<i class="bx bxs-chevron-down dropdown-icon"></i>
						</a>
					</li>
					<li>
						<a asp-controller="MTVInspectorList" asp-action="Index">
							<i class='bx bxs-report'></i>
							<span class="text">MTV Registration Reports</span>
							<i class="bx bxs-chevron-down dropdown-icon"></i>
						</a>
					</li>
				</ul>
				<ul class="side-menu bot">
					<p class="title">Others</p>
					<li>
						<a asp-area="Identity" asp-page="/Account/Manage/Index">
							<i class='bx bxs-cog'></i>
							<span class="text">Settings</span>
						</a>
					</li>
					<li>
						<a asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" class="logout">
							<i class='bx bxs-log-out-circle'></i>
							<span class="text">Logout</span>
						</a>
					</li>
				</ul>
			</section>
			<!-- SIDEBAR -->
			<!-- NAVBAR -->
			<div id="navbar">
				<nav>
					<i class='bx bx-menu'></i>
					<a href="#" class="nav-link">Categories</a>
					<form action="#">
						<div class="form-input">
							<input type="search" placeholder="Search...">
							<button type="submit" class="search-btn"><i class='bx bx-search'></i></button>
						</div>
					</form>
					<input type="checkbox" id="switch-mode" hidden>
					<label for="switch-mode" class="switch-mode"></label>
					<a href="#" class="notification">
						<i class='bx bxs-bell'></i>
						<span class="num">8</span>
					</a>
					<a href="#" class="profile">
						<img src="~/img/people.png">
					</a>
				</nav>
			</div>
			<!-- NAVBAR -->
		}
		if (User.IsInRole("InspectorAdministrator"))
		{
			<section id="sidebar">

				<div class="head">
					<div class="logo">
						<img src="trial_icon.png" alt="" href="dashboard.html">
					</div>
					<div class="details">
						<p class="office">AMIRS</p>
						<p class="region">Version 1</p>
					</div>
				</div>

				<ul class="side-menu top">
					<p class="title"> Main</p>
					<li>
						<a href="#">
							<i class='bx bxs-dashboard'></i>
							<span class="text">Meat Inspection Reports</span>
						</a>
					</li>
					<li class="active">
						<a href="analytics.html">
							<i class='bx bxs-user'></i>
							<span class="text">User Management</span>
						</a>
					</li>
					<li>
						<a href="#">
							<i class='bx bxs-business'></i>
							<span class="text">Meat Establishment</span>
						</a>
					</li>
					<li>
						<a href="#">
							<i class='bx bxs-group'></i>
							<span class="text">Meat Dealers</span>
						</a>
					</li>
					<p class="title">Reports</p>
					<li>
						<a href="#">
							<i class='bx bxs-detail'></i>
							<span class="text">Receiving/Acceptance</span>

						</a>
					</li>
					<li>
						<a href="#">
							<i class='bx bxs-report'></i>
							<span class="text">Meat Inspection Reports</span>

						</a>
					</li>
				</ul>
				<ul class="side-menu bot">
					<p class="title">Others</p>
					<li>
						<a href="#">
							<i class='bx bxs-cog'></i>
							<span class="text">Settings</span>
						</a>
					</li>
					<li>
						<a asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" class="logout">
							<i class='bx bxs-log-out-circle'></i>
							<span class="text">Logout</span>
						</a>
					</li>
				</ul>
			</section>
		}

    }
    else
    {
        <partial name="_LoginPartial" />
    }

	<script src="~/js/shared.js" asp-append-version="true"></script>
    @RenderBody()

	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
