<link rel="stylesheet" href="~/css/geolocation.css" asp-append-version="true" />

<h1>Map location</h1>

<div class="form-group">
    <label for="exampleDropdown">Filter</label>
    <select class="form-control" id="exampleDropdown">
        <option value="">Dealers</option>
    </select>
</div>


<div id="map"></div>

<script>
    var map = L.map('map');
    map.setView([7.1907, 125.4553], 13);

    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);



    var marker = L.marker([7.1907, 125.4553]).addTo(map);
    var marker = L.marker([7.0885, 125.5804]).addTo(map);
    var marker = L.marker([7.0560, 125.5773]).addTo(map);
    var marker = L.marker([7.0439, 125.5745]).addTo(map);
    var marker = L.marker([7.0150, 7.0150]).addTo(map);
    var marker = L.marker([7.0854, 125.4864]).addTo(map);
    var marker = L.marker([7.0885, 125.5805]).addTo(map);
    var marker = L.marker([7.1590, 125.5986]).addTo(map);
    var marker = L.marker([7.052543, 125.593201]).addTo(map);

</script>