@using DomainLayer.Enum;
@model DomainLayer.Models.ViewModels.EditMeatEstablishmentViewModel;
@using Azure.Core;
@{
	ViewData["Title"] = "Edit";
}
<link rel="stylesheet" href="~/css/register.css" asp-append-version="true">

<link href="~/css/inspectorSideNav.css" rel="stylesheet" asp-append-version="true" />

<style>
	#content .FirstLayer .applications h3 {
		font-size: 40px;
		font-weight: 600;
		margin-top: 5px;
		margin-bottom: 5px;
		margin-left: 5px;
		color: var(--black);
	}
</style>

<section id="content">

	<!-- MAIN STARTS-->
	<main class="registration">

		<div class="FirstLayer">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="#">Home</a></li>
					<li class="breadcrumb-item" aria-current="page">Meat Establishment</li>
					<li class="breadcrumb-item active" aria-current="page">Edit</li>
				</ol>
			</nav>
		</div>

		<div class="FirstLayer">
			<div class="applications">
				<h3>Edit | Meat Establishment</h3>
				<hr />
				<form class="form" asp-action="Edit">
					<div class="column">
						<div asp-validation-summary="ModelOnly" class="text-danger"></div>
						<div class="input-box">
							<label asp-for="Type" class="control-label">Establishment Type:</label>
							<select asp-for="Type" class="form-control" asp-items="@Html.GetEnumSelectList<EstablishmentType>()">
							</select>
						</div>
					</div>
					<div class="input-box">
						<label asp-for="Name" class="control-label">Establishment Name:</label>
						<input asp-for="Name" class="form-control" />
						<span asp-validation-for="Name" class="text-danger"></span>
					</div>

					<div class="column">
						<div class="input-box">
							<input asp-for="Address" class="form-control" id="addressInput" />
							<span asp-validation-for="Address" class="text-danger"></span>
						</div>
					</div>

					<div class="input-box address">

						<label asp-for="Address" class="control-label"></label>
						<div class="column">
							<div class="select-box">
								<select id="regionSelect" onchange="populateProvinces()">
									<option hidden>Region</option>
									<!-- Add region options here -->
								</select>
							</div>
							<div class="select-box">
								<select id="provinceSelect" onchange="populateCities()">
									<option hidden>Province</option>
									<!-- Add province options here -->
								</select>
							</div>
						</div>
						<div class="column">
							<div class="select-box">
								<select id="citySelect" onchange="populateBarangays()">
									<option hidden>City/Municipality</option>
									<!-- Add city options here -->
								</select>
							</div>
							<div class="select-box">
								<select id="barangaySelect" onchange="updateAddressInput()">
									<option hidden>Barangay</option>
									<!-- Add barangay options here -->
								</select>
							</div>
						</div>
					</div>

					<div class="input-box">
						<label class="control-label">License Status:</label>
						<select asp-for="LicenseStatus" class="form-control" asp-items="@Html.GetEnumSelectList<LicenseStatus>()">
						</select>
					</div>
					<div class="input-box">
						<label asp-for="LicenseToOperateNumber" class="control-label">LTO No.:</label>
						<input asp-for="LicenseToOperateNumber" class="form-control" />
						<span asp-validation-for="LicenseToOperateNumber" class="text-danger"></span>
					</div>
					<div class="input-box">
						<label asp-for="Lat" class="control-label">Latitude:</label>
						<input asp-for="Lat" class="form-control" />
						<span asp-validation-for="Lat" class="text-danger"></span>
					</div>
					<div class="input-box">
						<label asp-for="Long" class="control-label">Longitude:</label>
						<input asp-for="Long" class="form-control" />
						<span asp-validation-for="Long" class="text-danger"></span>
					</div>

					<br />

					<button type="submit" value="Create">Save</button>


				</form>

			</div>
		</div>


	</main>
</section>
@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
<script src="~/js/register.js"></script>
<script src="~/js/address.js"></script>
}