<link rel="stylesheet" href="~/css/quizseminar.css" asp-append-version="true" />

<section id="content">
    <main>

    <div class="url">
        <div class="facebook-container">
            <a href="https://www.facebook.com/groups/370501063649021" target="_blank" class="facebook-link">
                <h2 class="hide">Click here to visit the Facebook page</h2>
            </a>
        </div>
        <div class="facebook-container1">
            
                <h2 class="hide">Click here to visit the Seminar page</h2>
            </a>
        </div>
            <div class="modal" id="myModal">
                <!-- Modal content -->
                <div class="modal-content">
                    <span class="exit-button" id="btnExit">×</span>
                    <p>Do you want to continue?</p>
                    <button id="fblink">Click here to watch at our FB Page</button>
                    <button id="drivelink">Click here for pop-up video</button>
                </div>
            </div>
            <!-- Second modal for the video -->
            <div class="modal" id="videoModal">
                <!-- Modal content for the video -->
                <div class="modal-content" id="videoContent">
                    <span class="exit-button" id="btnExitVideo">×</span>
                    <p>Video</p>
                    <div id="videoContainer" class="hidden">
                        <iframe width="100%" height="400" src="https://1drv.ms/v/s!Avwu7lHq0Y0KgxGQqXOcjguKryR9?e=A5UZyI" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
    </div>
    <div class="home-box custom-box ">
        <h3>instruction:</h3>
        <p>Total Number of questions:<span class="total-question"></span> </p>
        <button type="button" class="btn" onclick="startQuiz()">Start Quiz</button>

    </div>
    <div class="quiz-box custom-box hide">
        <div class="question-number">
        </div>
        <div class="question-text">
        </div>
        <div class="option-container">
        </div>
        <div class="next-question-btn">
            <button type="button" class="btn" onclick="next()">Next</button>
        </div>
        <div class="answers-indicator">
        </div>
    </div>

    <div class="result-box custom-box hide ">
        <h1>Quiz Result</h1>
        <table>
            <tr>
                <td>Total Question</td>
                <td><span class="total-question"></span></td>
            </tr>
            <tr>
                <td>Attempt</td>
                <td><span class="total-attempt"></span></td>
            </tr>
            <tr>
                <td>Correct</td>
                <td><span class="total-correct"></span></td>
            </tr>
            <tr>
                <td>Wrong</td>
                <td><span class="total-wrong"></span></td>
            </tr>
            <tr>
                <td>Percentage</td>
                <td><span class="percentage"></span></td>
            </tr>
            <tr>
                <td>Your Total Score</td>
                <td><span class="total-score"></span></td>
            </tr>
        </table>
        <button type="button" class="btn" onclick="tryAgainQuiz()">Try Again </button>
        <button type="button" class="btn" onclick="goToHome()">Home</button>
        <button type="button" id="paymentButton" class="btn">
                Payment
        </button>


    </div>
        


    </main>

</section>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="~/js/question.js" asp-append-version="true"></script>
    <script src="~/js/appquiz.js" asp-append-version="true"></script>

<script type="text/javascript">
    document.getElementById('paymentButton').addEventListener('click', function () {
        // Construct the URL for the desired action
        var url = '@Url.Action("Index", "MTVpayment")';

        // Redirect to the constructed URL
        window.location.href = url;
    });
</script>
<script>
    function quizResult() {
        resultBox.querySelector(".total-question").innerHTML = quiz.length;
        resultBox.querySelector(".total-attempt").innerHTML = attempt;
        resultBox.querySelector(".total-correct").innerHTML = correctAnswers;
        resultBox.querySelector(".total-wrong").innerHTML = attempt - correctAnswers;

        
        const percentage = (correctAnswers / quiz.length) * 100;
        resultBox.querySelector(".percentage").innerHTML = percentage.toFixed(2) + "%"; // Fixed the usage of toFixed()

        resultBox.querySelector(".total-score").innerHTML = correctAnswers + " / " + quiz.length;
        //fail
        if (percentage < 75) {
            document.getElementById("paymentButton").disabled = true;
        }
        //pass
        if (percentage >= 75) {
            document.getElementById("paymentButton").disabled = false;
        }

        $.ajax({
            url: "/MTVquiz/SavePercentage",
            type: "POST",
            data: { percentage: percentage.toFixed(2) },
            success: function (response) {
                console.log("Percentage sent successfully:", response);
            },
            error: function (error) {
                console.log("Error sending percentage:", error);
            }
        });
        

    }
</script>

      