<link rel="stylesheet" href="~/css/checklist.css" asp-append-version="true" />
<section id="content">


	<!-- MAIN STARTS-->
	<main>
		<div class="head-title">
			<div class="left">
				<h1>MTV Inspection List</h1>
				<div class="container1">
					<div class="container1">
						<div class="centercont1">
							<label class="center1">ACCREDITATION AND REGISTRATION SECTION </label>

						</div>

						<div class="centercont2">
							<label class="center1">MTV INSPECTION CHECKLIST </label>
						</div>

					</div>
					<!-- <label class="left1">Name of Operator(Name that will appear on the Certificate):&nbsp&nbsp <input type="text" placeholder="Full Name" class="textinput1" readonly><br>	</label>
					<label class="left1">Meat Establishmend Served:&nbsp&nbsp<input type="text" placeholder="" class="textinput1" readonly><br></label>
					<label class="left1">Plate Number:&nbsp&nbsp<input type="text" placeholder="" class="textinput1" readonly></label>
					<label class="left1">Acrreditation No.(Renewal):&nbsp&nbsp<input type="text" placeholder="" class="textinput1" readonly></label> -->

					<div class="left">
						Name of Operator: <input type="text" placeholder="Full Name" class="textinput3" readonly />
					</div>
					<div class="left">
						Meat Establishment Served: <input type="number" placeholder="Meat Establishment" class="textinput3" readonly />
					</div>
					<div class="left3">
						Plate Number: <input type="number" placeholder="Plate" class="textinput3" readonly>
						<div class="left2">Accreditation No (Renewal): <input type="number" placeholder="Accreditation" class="textinput3" readonly></div>
					</div>

					<div class="container1">
						<label class="left1">Important Reminders:<br></label>
						<label class="left1">1.Renew your MTV Registration early. Registration renewal should be done at least one(1) month before expiry.	 <br></label>
						<label class="left1">2. MTV inspected by NMIS Meat Inspection Officers may be-inspected or the picture submitted may be crosschecked by ARS<br></label>
						<label class="left1">3. MTV applying as "NEW" shall be inspected by ARS, and those for "RENEWAL" shall be inspected by the Meat Inspection Officer assigned at any of the licensed Meat Establishments being serviced by MTV<br></label>
					</div>
					<label class="left1">Tick "YES" if compliant; Tick"NO" if non-complaint<br>YES|NO</label>

					<div class="personinfo">

						<input type="radio" name="yes1" value="yes1">
						<label for="yes1"></label>
						<input type="radio" name="yes1" value="no1">
						<label for="yes1"></label>
						<label class="left1">
							1. Enclosed

						</label>

					</div>
					<div class="personinfo">

						<input type="radio" name="yes2" value="yes2">
						<label for="yes1"></label>
						<input type="radio" name="yes2" value="no1">
						<label for="yes1"></label>
						<label class="left1">
							2. Insulated

						</label>

					</div>
					<div class="personinfo">

						<input type="radio" name="yes3" value="yes3">
						<label for="yes1"></label>
						<input type="radio" name="yes3" value="no1">
						<label for="yes1"></label>
						<label class="left1"> 3. Temperature-Controlled; Able to maintain the following temperature:<br></label>

					</div>
					<div class="margin1">
						0-4*(Chilled Meat) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 18*C(Frozen Meat)
					</div>
					<div class="personinfo">

						<input type="radio" name="yes4" value="yes3">
						<label for="yes1"></label>
						<input type="radio" name="yes4" value="no1">
						<label for="yes1"></label>
						<label class="left1"> 4. Plastic curtains installed are of approved material</label>
					</div>
					<div class="personinfo">

						<input type="radio" name="yes5" value="yes3">
						<label for="yes1"></label>
						<input type="radio" name="yes5" value="no1">
						<label for="yes1"></label>
						<label class="left1"> 5. Plastic curtains not torn, damaged, discolored, or dirty</label>
					</div>
					<div class="personinfo">

						<input type="radio" name="yes6" value="yes3">
						<label for="yes1"></label>
						<input type="radio" name="yes6" value="no1">
						<label for="yes1"></label>
						<label class="left1"> 6. Plastic curtains installed correctly(100% overlap)</label>
					</div>
					<div class="personinfo">

						<input type="radio" name="yes7" value="yes3">
						<label for="yes1"></label>
						<input type="radio" name="yes7" value="no1">
						<label for="yes1"></label>
						<label class="left1"> 7. Plastic curtain to-floor distance of 1cm</label>
					</div>
					<div class="personinfo">

						<input type="radio" name="yes8" value="yes3">
						<label for="yes1"></label>
						<input type="radio" name="yes8" value="no1">
						<label for="yes1"></label>
						<label class="left1"> 8. With Plastic floor matting (Except if transporting meat/carcasses in a hanging position)</label>
					</div>
					<div class="personinfo">

						<input type="radio" name="yes9" value="yes3">
						<label for="yes1"></label>
						<input type="radio" name="yes9" value="no1">
						<label for="yes1"></label>
						<label class="left1"> 9. Interior of the MTV is clean and sanitized; No rust and discoloration</label>
					</div>
					<div class="personinfo">

						<input type="radio" name="yes10" value="yes3">
						<label for="yes1"></label>
						<input type="radio" name="yes10" value="no1">
						<label for="yes1"></label>
						<label class="left1"> 10. With overhead carcasses hanger(for MTV servicing slaughterhouses)</label>
					</div>
					<div class="personinfo">

						<input type="radio" name="yes11" value="yes3">
						<label for="yes1"></label>
						<input type="radio" name="yes11" value="no1">
						<label for="yes1"></label>
						<label class="left1"> 11. No porous materials such as wood or fabric</label>
					</div>
					<div class="personinfo">

						<input type="radio" name="yes12" value="yes3">
						<label for="yes1"></label>
						<input type="radio" name="yes12" value="no1">
						<label for="yes1"></label>
						<label class="left1"> 12. No harazdous materials such as spare tires, tools, etc.</label>
					</div>
					<div class="personinfo">

						<input type="radio" name="yes13" value="yes3">
						<label for="yes1"></label>
						<input type="radio" name="yes13" value="no1">
						<label for="yes1"></label>
						<label class="left1"> 13. MTV Registration No. is printed on both sides(Renewal)</label>
					</div>
					<div class="personinfo">

						<input type="radio" name="yes14" value="yes3">
						<label for="yes1"></label>
						<input type="radio" name="yes14" value="no1">
						<label for="yes1"></label>
						<label class="left1"> 14. Documentary Requirements</label>
					</div>
					<div class="personinfo">

						<input type="radio" name="yes15" value="yes3">
						<label for="yes1"></label>
						<input type="radio" name="yes15" value="no1">
						<label for="yes1"></label>
						<label class="margin2"> Previous MTV Certificate of Recognition</label>

					</div>

					<div class="personinfo">

						<input type="radio" name="yes16" value="yes3">
						<label for="yes1"></label>
						<input type="radio" name="yes16" value="no1">
						<label for="yes1"></label>
						<label class="margin2"> LTO Official Receipt</label>

					</div>
					<div class="personinfo">

						<input type="radio" name="yes17" value="yes3">
						<label for="yes1"></label>
						<input type="radio" name="yes17" value="no1">
						<label for="yes1"></label>
						<label class="margin2"> LTO Certificate of Registration</label>

					</div>

					<div class="personinfo">

						<input type="radio" name="yes18" value="yes3">
						<label for="yes1"></label>
						<input type="radio" name="yes18" value="no1">
						<label for="yes1"></label>
						<label class="margin2"> Deed of Sale</label>

					</div>

					<div class="personinfo">

						<input type="radio" name="yes19" value="yes3">
						<label for="yes1"></label>
						<input type="radio" name="yes19" value="no1">
						<label for="yes1"></label>
						<label class="margin2"> Certificate of Attendance (Driver and Helper)</label>

					</div>

					<div class="personinfo">

						<input type="radio" name="yes20" value="yes3">
						<label for="yes1"></label>
						<input type="radio" name="yes20" value="no1">
						<label for="yes1"></label>
						<label class="margin2">Back to Back Valid Health Card (Driver and Helper)</label>

					</div>

					<div class="personinfo">

						<input type="radio" name="yes21" value="yes3">
						<label for="yes1"></label>
						<input type="radio" name="yes21" value="no1">
						<label for="yes1"></label>
						<label class="left1"> 15. MTV Picture</label>
					</div>

					<div class="personinfo">

						<input type="radio" name="yes22" value="yes3">
						<label for="yes1"></label>
						<input type="radio" name="yes22" value="no1">
						<label for="yes1"></label>
						<label class="margin2">Front</label>

					</div>

					<div class="personinfo">

						<input type="radio" name="yes23" value="yes3">
						<label for="yes1"></label>
						<input type="radio" name="yes23" value="no1">
						<label for="yes1"></label>
						<label class="margin2">Side</label>

					</div>

					<div class="personinfo">

						<input type="radio" name="yes24" value="yes3">
						<label for="yes1"></label>
						<input type="radio" name="yes24" value="no1">
						<label for="yes1"></label>
						<label class="margin2">Back</label>

					</div>

					<div class="container1">
						<label class="left1"> Inspected By: <input type="text" placeholder="MTV Inspector" class="textinput1"><br></label>
						<label class="left1">
							Date: <input type="date" id="dateInput" readonly>
							Time: <input type="input" id="timeInput" readonly>


						</label>
						<div class="personinfo">
							<label class="Left1">Inspection Result  </label>
							<input type="radio" name="yes16" value="yes3">
							<label for="yes1">PASS</label>
							<input type="radio" name="yes16" value="no1">
							<label for="yes1">FAIL</label>

						</div>

					</div>
				</div>
			</div>


	</main>
	<!-- MAIN ENDS -->

</section>