@model DomainLayer.Models.ViewModels.EditMeatDealersViewModel
<link href="~/css/inspectorSideNav.css" rel="stylesheet" asp-append-version="true" />
@{
    ViewData["Title"] = "Edit";
}
<link href="~/css/createMeatCheck.css" rel="stylesheet" asp-append-version="true" />

<section id="content">

    <!-- MAIN STARTS-->
    <main class="registration">
        <div class="FirstLayer">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a asp-action="Index">Meat Dealer</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Edit</li>
                </ol>
            </nav>
        </div>
        @* <div>
        <a class="backbtn" asp-action="Index">Back to List</a>
        </div> *@

        <div class="FirstLayer">
            <div class="applications">
                <h3>Edit | Meat Dealer</h3>
                <hr />
                <form asp-action="Edit" class="form">
                    <div class="column">

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <div class="input-box">
                            <label asp-for="FirstName" class="control-label">First Name</label>
                            <input asp-for="FirstName" class="form-control" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="input-box">
                            <label asp-for="MiddleName" class="control-label">Middle Name</label>
                            <input asp-for="MiddleName" class="form-control" />
                            <span asp-validation-for="MiddleName" class="text-danger"></span>
                        </div>
                        <div class="input-box">
                            <label asp-for="LastName" class="control-label">Last Name</label>
                            <input asp-for="LastName" class="form-control" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="column" @* style="display: none" *@>
                        <div class="input-box" style="display: none;">
                            <label asp-for="Address" class="control-label"></label>
                            <input asp-for="Address" class="form-control" id="addressInput" />
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="input-box address" >
                        <label asp-for="Address" class="control-label">Address:</label>
                        <div class="column">
                            <div class="select-box">
                                <select id="regionSelect" onchange="populateProvinces()">
                                    <option hidden>Region</option>
                                    <!-- Add region options here -->
                                </select>
                            </div>
                            <div class="select-box">
                                <select id="provinceSelect" onchange="populateCities()">
                                    <option hidden>Province</option>
                                    <!-- Add province options here -->
                                </select>
                            </div>
                        </div>
                        <div class="column">
                            <div class="select-box">
                                <select id="citySelect" onchange="populateBarangays()">
                                    <option hidden>City/Municipality</option>
                                    <!-- Add city options here -->
                                </select>
                            </div>
                            <div class="select-box">
                                <select id="barangaySelect" onchange="updateAddressInput()">
                                    <option hidden>Barangay</option>
                                    <!-- Add barangay options here -->
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="input-box">
                            <label asp-for="ContactNo" class="control-label">Contact No.</label>
                            <input asp-for="ContactNo" class="form-control" />
                            <span asp-validation-for="ContactNo" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="input-box">
                        <label class="control-label">Meat Establishment:</label>
                        <select asp-for="MeatEstablishmentId" class="form-control" asp-items="ViewBag.MeatEstablishmentList"></select>
                        <span asp-validation-for="MeatEstablishmentId" class="text-danger"></span>

                    </div>

                    <br />
                    <button type="submit" value="Create">Save</button>
                </form>
            </div>
        </div>



        @section Scripts {
            @{
                await Html.RenderPartialAsync("_ValidationScriptsPartial");
            }
        }

    </main>

    <script src="~/js/register.js"></script>
    <script src="~/js/address.js"></script>
   
</section>