@* @model DomainLayer.Models.PassedForSlaughter
<link href="~/css/inspectorSideNav.css" rel="stylesheet" />
@{
    ViewData["Title"] = "Create";
}

<section id="content">


    <!-- MAIN STARTS-->
    <main>


        <div class="FirstLayer">
            <h1>Passed for Slaughter</h1>
        </div>
        <div class="FirstLayer">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Receiving-Acceptance</a></li>
                    <li class="breadcrumb-item"><a href="#">Antemortem</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Passed for Slaughter</li>
                </ol>
            </nav>
        </div>

        <div class="FirstLayer">


            <div class="applications">

                <a class='bx bxs-chevron-left' asp-controller="ReceivingReports" asp-action="Index">
                    <span>Back</span>
                </a>
                <div class="row">
                    <div class="col-md-4">
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="NoOfHeads" class="control-label">No. Of Heads::</label>
                                <input asp-for="NoOfHeads" class="form-control" value="@ViewData["PassedForSlaughterHeads"]" readonly />
                                <span asp-validation-for="NoOfHeads" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Weight" class="control-label">Weight:</label>
                                <input asp-for="Weight" class="form-control" value="@ViewData["PassedForSlaughterWeight"]" readonly />
                                <span asp-validation-for="Weight" class="text-danger"></span>
                            </div>
                            <div class="form-group" style="display: none">
                                <label asp-for="ConductOfInspectionId" class="control-label"></label>
                                <select asp-for="ConductOfInspectionId" class="form-control" asp-items="ViewBag.ConductOfInspectionId"></select>
                            </div>
                            <br />
                            <div class="form-group">
                                <input type="submit" value="Next" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>

                <div>
                </div>

                @section Scripts {
                    @{
                        await Html.RenderPartialAsync("_ValidationScriptsPartial");
                    }
                }
                <br />
            </div>

        </div>
    </main>
</section>
 *@